.properties-options-header {
    border-bottom: 1px solid #cccccc;
    background: #ffffff;
    position: sticky;
    height: 35px;
    top: 1px;
    .property-seleted {
        width: calc(100% - 108px);
        line-height: 34px;
        font-weight: bold;
        padding: 0 10px;
        float: left;
    }
    .block-settings {
        display: flex;
        width: 108px;
        float: right;
        .button {
            border-left: 1px solid #cccccc;
            cursor: pointer;
            .material-icons {
                width: 34px;
                font-size: 20px;
                line-height: 34px;
                text-align: center;
            }
        }
    }
    &.section-header {
        .property-seleted {
            width: calc(100% - 140px);
        }
        .block-settings {
            width: 140px;
        }
    }
}

.properties-options-content {
    .properties-group {
        .two-col {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .flex-row {
            display: flex;
            flex-direction: row;
        }
        .properties-group-name {
            font-weight: 600;
            font-size: 12px;
            color: rgb(81, 97, 103);
            background-color: rgb(234, 234, 234);
            cursor: pointer;
            text-transform: uppercase;
            border-bottom: 0px;
            padding: 0.75rem 1.25rem;
            margin-bottom: 0;
        }
        .properties-group-fields {
            padding: 15px 20px;
            .properties-field {
                padding: 15px 0px;
                &:not(:last-child) {
                    border-bottom: 1px solid rgb(225, 228, 231);
                }
                &:first-child {
                    padding-top: 0px;
                }
                input[type="text"], select {
                    display: block;
                    width: 100%;
                    height: calc(1.5em + 0.75rem + 2px);
                    padding: 0.375rem 0.75rem;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #ced4da;
                    border-radius: 0.25rem;
                    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                    &:focus {
                        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                    }
                }
                .image-upload-button {
                    margin-top: 3px;
                    border: 2px dashed #CCC;
                    cursor: pointer;
                    padding: 15px;
                    text-align: center;
                    color: #999;
                    &:hover {
                        border-color: #999;
                        color: #777;
                    }
                }
                .properties-value {
                    &.alignments {
                        button {
                            border: none;
                            width: 34px;
                            i {
                                line-height: 34px;
                            }
                            &.active {
                                background: #dddddd;
                            }
                        }
                    }
                }
                &.properties-field-email-editor-border {
                    .select-border-style {
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                        border-bottom: 0;
                    }
                    .spin-button {
                        .spin-di {
                            border-top-left-radius: 0px;
                        }
                        .spin-in {
                            border-top-right-radius: 0px;
                            border-bottom-right-radius: 0px;
                        }
                    }
                    .color-picker-swatch {
                        height: 30px;
                        border-bottom-right-radius: 4px;
                    }
                    .color-picker-color {
                        height: 26px;
                        border-bottom-right-radius: 4px;
                    }
                }
            }
        }
    }
}

.background-positioning {
    .background-positioning-wrapper {
        flex-wrap: wrap;
        display: flex;
        width: 45px;
        .background-positioning-field {
            padding: 2px;
            width: 14px;
            .background-positioning-button {
                background: #666666;
                border: none;
                height: 10px;
                width: 10px;
            }
            &.active {
                .background-positioning-button {
                    box-shadow: 0 0 0 2px #00ff00;
                }
            }
        }
    }
}