.app-editor .text-editor-save {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 2px 10px;
    border: none;
    z-index: 1;
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
    height: 30px;
}
.rdw-editor-wrapper {
    position: relative;
    z-index: 2;
    * {
        &::-webkit-scrollbar {
            width: 2px;
        }
        &::-webkit-scrollbar-thumb {
            background: #888;
        }
    }
    .rdw-editor-toolbar {
        top: -85px;
        width: 460px;
        color: #000000;
        position: absolute;
        font-family: "Roboto";
        left: calc(50% - 230px);
        box-shadow: 0 0 10px -5px #000000;
        .material-icons {
            font-size: 20px;
            line-height: 26px;
            top: 3px;
        }
        .rdw-option-wrapper {
            box-shadow: none;
            border: none;
            padding: 6px;
            height: auto;
            &.rdw-option-active {
                background-color: #BFBDBD;
            }
            &:not(.rdw-option-active):hover {
                background: #eeeeee;
            }
        }
        .text-editor-link-popup {
            height: auto;
            #linkTitle, label[for="linkTitle"] {
                display: none;
            }
            label {
                font-weight: 400;
                font-size: 12px;
            }
            #linkTarget {
                padding: 5px;
                height: auto;
                margin-bottom:  0px;
            }
            .rdw-link-modal-target-option {
                margin: 0;
            }
            .rdw-link-modal-buttonsection {
                display: flex;
                .rdw-link-modal-btn {
                    margin: 0;
                }
            }
        }
        .rdw-dropdown-optionwrapper {
            &::-webkit-scrollbar {
                width: 2px;
            }
            &::-webkit-scrollbar-thumb {
                background: #888;
            }
            .rdw-dropdownoption-default {
                color:  #000000;
                min-height: 25px;
                display: flex;
                align-items: center;
                padding: 0 5px;
                font-size: 12px;
                line-height: 25px;
            }
        }
        .rdw-fontfamily-dropdown {
            width: 125px;
        }
        .rdw-fontfamily-placeholder {
            max-width: 100px;
            padding-right: 5px;
        }
    }
    .rdw-editor-main {
        .public-DraftStyleDefault-block {
            margin: 0;
        }
    }
}
.text-editor-color-picker-icon {
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    min-width: 25px;
    margin: 0 4px;
    height: 26px;
    &:hover {
        background: #eeeeee;       
    }
}
.text-editor-color-picker {
    position: absolute;
    z-index: 2;
    &.coustom-picher {
        background: #ffffff;
        padding: 15px;
        box-shadow: 0 0 10px -5px #000000;
        .colorlist {
            width: 160px;
            li {
                width: 8px;
                height: 8px;
                span {
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }
}

.text-editor-editor.rdw-editor-main .public-DraftEditor-content .public-DraftStyleDefault-ltr {
    text-align: initial;
}