.menubar {
  // display: flex;
  .menubar-details {
    border-left: 1px solid #ccc;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 6px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #000000;
    }
  }
}

// ::-webkit-scrollbar-corner{

// }
// ::-webkit-resizer{

// }
// ::-webkit-scrollbar-track-piece{

// }
