.style-bar {
    position: sticky;
    height: calc(100vh - 61px);
    top: 0;
    left: 80px;
    width: 300px;
    background: #ffffff;
    border-right: 1px solid #cccccc;
    z-index: 1;
    .close {
        padding: 10px;
        float: initial;
        text-align: right;
        border-bottom: 1px solid #cccccc;
        i {
            cursor: pointer;
        }
    }
    .style-bar-wrapper {
        overflow-x: hidden;
        overflow-y: scroll;
        height: calc(100% - 50px);
        &::-webkit-scrollbar {
            width: 0px;
        }
        .styles {
            padding: 0 15px;
            h4 {
                margin-bottom: 5px;
            }
        }
    }
    .rangeslider-wrapper {
        .rangeslider-slider {
            .rangeslider-horizontal .rangeslider__handle:after {
                content: initial;
            }
        }
    }
}
.image-gallery {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    .image {
        width: 25%;
        position: relative;
        display: inline-block;
        padding: 5px 5px 0px 5px;
        span {
            &.imageView {
                width: 100%;
                height: 100px;
                display: inline-block;
                background-size: cover;
                background-position: center;
            }
            &.deleteIcon {
                position: absolute;
                display: none;
                height: 35px;
                width: 35px;
                border-radius: 0px 0px 50px 0px;
                background: #ffffff;
            }
        }
        &:hover {
            box-shadow: 0px 0px 5px 0px #000;
            cursor: pointer;
            span {
                &.deleteIcon {
                    display: inline-block;
                }
            }
        }
    }
}