.pope-canvas {
    .main-content {
        height: 100%;
        padding: 50px 15px;
        overflow-y: auto;
        background: aliceblue;
        .popup-container {
            height: 500px;
            margin: 0 auto;
            // max-width: 600px;
            background: #ffffff;
            .popup-content {
                height: 100%;
                .popup-column-wapper {
                    display: flex;
                    height: 100%;
                    .popup-column {
                        flex-grow: 1;
                        // width: 50%;
                        position: relative;
                        &:hover {
                            .column-option {
                                // display: inline;
                            }    
                        }
                        .column-option {
                            position: absolute;
                            display: none;
                            right: -25px;
                            &.move {
                                top: 0;
                            }
                            &.delete {
                                top: 25px;
                            }
                        }
                        .popup-element-wapper {
                            min-height: 100px;
                            height: 100%;
                            &.on-dragging {
                                background: papayawhip;
                            }
                        }
                        .popup-element {
                            border: 1px dashed transparent;
                            display: inline-block;
                            position: relative;
                            width: 100%;
                            > .element-option {
                                position: absolute;
                                background: gray;
                                text-align: center;
                                line-height: 25px;
                                display: none;
                                color: #ffffff;
                                width: 25px;
                                height: 25px;
                                top: -26px;
                                &:hover {
                                    background: #ffffff;
                                    color: gray;
                                }
                                .material-icons {
                                    font-size: 16px;
                                    line-height: 25px;
                                }
                                &.move {
                                    left: calc(50% - 25px);
                                }
                                &.delete {
                                    left: calc(50% + 0px);
                                    cursor: pointer;
                                }
                                &.edit {
                                    left: calc(50% + 25px);
                                    cursor: pointer;
                                }
                            }
                            &:hover {
                                border-color: black;
                                > .element-option {
                                    display: inline-block;
                                }
                            }
                            p {
                                margin: 0;
                            }
                            &.element-editable {
                                z-index: 1;
                            }
                            &.new-element-dragging {
                                transform: none !important;
                            }
                            .popup-button-element {
                                display: inline-block;
                                margin: 0 auto;
                                cursor: text;
                            }
                            .popup-form {
                                .popup-form-input {
                                    width: 100%;
                                    padding: 10px;
                                    margin-bottom: 5px;
                                }
                                .popup-form-submit {
                                    padding: 10px;
                                    display: block;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}