@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body{
  background-color: #fff;
    color: #5f6c72;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    position: relative;
    width: 100%;
}
.align-content-full-height{
    align-items: center;
    min-height: 92vh;
}
.justify-content-last {
    justify-content: flex-end;

}
p {
  line-height: 1.6em;
  margin: 0 0 15px;
  font-weight: 400;
  font-size: 15px;
}
.bg-default-img{
    background: url('../img/theme/user-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cta{
    letter-spacing: 0.8px;
    font-size: 16px;
    // font-weight: 600;
    // border: 1px solid #5e72e4;
    // background: #5e72e4;
    // display: inline-block;
    // padding: 0.625rem 1.25rem 1rem;
    background-color: #7e3cff   !important;
    border: 2px solid #884bff !important;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    padding: 1rem 1.4rem 0.9rem;
    border-radius: 4px;
    height: unset;
    width: auto;
    &-fullwidth{
        
width: 100%;

}
.cta-icon{
  font-size: 21px;
  position: relative;
  top: 4px;
  left: 10px;&.right{

}
} 
}
.cta:hover{
  background: transparent !important;
  border-color: #884bff !important;
  color: #884bff;


}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  // margin-bottom: 0.5rem;
  // font-family: inherit;
  // font-weight: 600;
  // line-height: 1.5;
  // color: #32325d;
  // font-weight: 800;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
  color: rgb(0, 0, 0);
  display: block;
  // margin-bottom: 30px;
}
.sucess-message{
    font-size: 13px;
    margin-top: 5px;
    color: #3cbd13;
}
.text-cta{
    // text-transform: uppercase;
    font-size: 16px;
    // font-weight: 800;
    border: 1px solid #fff;
    color: #2c2e7c ;
    display: inline-block;
    font-weight: 600;

    // padding: 0.625rem 1.25rem 1rem;  
}
small{
  font-weight: 600;
}
.navbar-vertical.navbar-expand-md{
    // max-width: 200px;
    max-width: 80px;
    // padding: 5px 10px;


}
.main-content .navbar-top{
  border-bottom: 1px solid #e4e4e4;

}
.navbar-dark .navbar-nav .nav-link .material-icons {
  color: #7e3cff !important;
}
.navbar-vertical.navbar-expand-md.fixed-left + .main-content {
    margin-left: 80px;
    background: #fff;
    min-height: 100vh;


}
.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active{
  background: #7e3cff29;

}

.navbar-vertical.navbar-expand-md .navbar-nav li.nav-item{
  margin-bottom: 34px;
  text-align: center;

}
.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active .material-icons{
  // color: #18224c !important;
  color: #7e3cff  !important;

}
.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active .nav-label{
  color: #2c2e7c !important;

}
.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before{
  top: 0;
  bottom: 0;
  right: 0;
  left: auto;
  border-left: 0px solid #2c2e7c;
}
.navbar-vertical.navbar-expand-md .navbar-nav .nav-link:hover{
  background: #7e3cff29;
}
.navbar-vertical.navbar-expand-md .navbar-nav .nav-link:hover .material-icons{
  color: #7e3cff  !important;

}
.navbar-vertical.navbar-expand-md .navbar-nav .nav-link:hover .material-icons, 
.navbar-vertical.navbar-expand-md .navbar-nav .nav-link:hover .nav-label
{
  // color: #2c2e7c !important;

}
.inner-cta{
  background-color: #7e3cff  !important;
  border-color:#884bff  !important ;

}
.input-feedback {
    font-size: 11px;
    color: #ea340b;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: -8px;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.loginLoadingDiv,
.signupLoadingDiv {
  position: fixed;
  top: -5px;
  left: 0px;
  width: 100%;
// position: absolute;
//     top: -4px;
//     left: 0px;
//     width: 100%;
//     z-index: 9;
//     color: #deeaf3;
}
.signupLoadingDiv {
  width: 100%;
}
.plain .input-group-alternative {
    border: 1px solid #f2f2f2;

}
.input-group-alternative .form-control, .input-group-alternative .input-group-text{
  background: #fff;
  height: 50px;


}
.select-lead {
    ul {
      border-bottom: 2px solid #f2f3f7;
      padding-bottom: 10px;
      margin-bottom: 20px;
      padding-left: 0;
      li {
        list-style: none;
        display: inline-block;
        margin-right: 30px;
        button {
          background: none;
          outline: 0;
          border: none;
          font-size: 20px;
          &.active {
            color: #5a71cd;
            &:after {
              content: "";
              display: block;
              height: 2px;
              width: 100%;
              background: #5a71cd;
              top: 14px;
              left: -7px;
              position: relative;
            }
          }
        }
      }
    }
  }
  .select-integration .custom-checkbox{
    display: table-cell!important;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 10px;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .add-new-campaign{
  .custom-control{
    padding-left: 0rem;
  }
  .custom-control-label::before {
    position: absolute;
    top: calc(50% - 10px);
    left: 15px;
  }
  .custom-control-label{
    margin-bottom: 0;
    display: table-cell!important;
    vertical-align: middle;
    cursor: pointer;
    padding: 27px;
    padding-left: 50px;
    padding-right: 40px;
    border-radius: 4px;
    border: 1px solid rgb(230, 230, 230);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
    margin: 0 auto;
    img {
      max-height: 30px;
      max-width: 200px;
  }
  }
}
body {
background: #fff;
}
.navbar-vertical.navbar-expand-md{
  border-right: 1px solid #e4e4e4;
}
.navbar-vertical {
  // box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
  box-shadow: none !important;
}
.table-buttons{
  button{
 background: none;
 cursor: pointer;
 border: none;
 margin-left: 5px;
 i{
   font-size: 21px;
  color: rgba(0, 0, 0, 0.7);
 }
 &:hover{
   background: none;
   i{
    color: #ff4a00 !important;
    
  }
 }
  }
}
.shadow-sm {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(230, 230, 230);
  border-image: initial;
    border-radius: 10px;
    padding: 3px 20px 30px;

}

.shadow, .card-profile-image img {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(230, 230, 230);
  border-image: initial;
    border-radius: 11px;
    padding: 20px 20px 30px;

}

.shadow-lg {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(230, 230, 230);
  border-image: initial;
    border-radius: 10px;
    padding: 3px 20px 30px;

}
.card-header:first-child {
  border-radius: 10px;
}
.new-project-modal__close {
  position: fixed;
  top: 20px;
  right: 20px;
  // height: 64px;
  // width: 64px;
  height: 50px;
  width: 49px;
  border-radius: 100%;
  text-align: center;
  font-family: brandon-grotesque,'Roboto', sans-serif;;
  font-weight: 700;
  font-size: 10px;
  color: #8c96a9;
  letter-spacing: 1px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  opacity: 1;
  &:before {
    background-position: -1210px -131px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/theme/modal-sprite.png);
    content: "";
    margin: 16px auto 2px;
}
&:hover{
  background: #ebebeb;
}
}
.hook{
  max-width: 670px;
  margin: 0 auto;
  margin-top: 60px !important;
}
.popup-overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: scroll;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: background .2s;
  pointer-events: auto;
  background: rgba(100,107,131,.4);
.popup{
  display: -webkit-flex;
    display: flex;
    padding: 2.0rem 2rem 2rem 2rem;
    border-radius: .5rem;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-height: 90vh;
    width: 32rem;
    height: auto;
    background: #fff;
    margin: 2rem auto auto;
    position: relative;
    .pop-up-head{
      border-bottom: 1px solid #e7e9f5;
      /* background: #e7e9f5; */
      margin-bottom: 40px;
      h3{
        margin-bottom: 0px;
      }
      p{
        font-size: 14px;
        margin-bottom: 20px;

      }
    }
    .new-project-modal__close{
      font-size: 20px;
      position: absolute;
      top: 5px;
      right: 5px;
      height: 35px;
      width: 35px;
    font-weight: 100;


      &:before{
        display: none
      }
    }
}
}
.input-group-alternative{
  border:2px solid #d3d3f1 !important;
  box-shadow: none;
  border-radius: 8 px;


}
.leads-filter{
  .form-control{
    height: 30px;
  }
  &.card-header{
    padding-top: 12px;
    padding-bottom: 20px;
  }
}
.qucikreplay {
  // background-color: #FAFAFA;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  position: relative;

  i {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
    // font-size: 22px !important;
}
  cursor: pointer;
  p{
    margin-bottom: 0px;
font-size: 14px;
  }
  &:hover, &.active{
    // box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    // border: 0;
    // -webkit-transition: box-shadow .15s ease;
    // transition: box-shadow .15s ease;
    background: white;
    border: 1px solid #FAFAFA;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    border: 1px solid #e6e6e6;
    i{
      color: #3a5bd6;
      display: block;


    }
  }
}


/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  // margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 0%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, #dcdcdc 8%, #ff4a00 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, #dcdcdc 8%, #dcdcdc 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, #dcdcdc 8%, #dcdcdc 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
  padding-left: 34px;

}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 100%;
  float: left;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #ff4a00;
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: #ff4a00;
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

// @media screen and (min-width: 400px ?? max-width: 660px) {

// .direction-l .desc,
// .direction-r .desc {
// 	margin: 1em 4em 0 4em;
// }

// }
@media screen and (max-width: 660px) {

  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  }
  
  }
  .navbar-vertical.navbar-expand-md .navbar-brand {
    padding-bottom: 0px;
h1{
  font-weight: 700;

}
  }
  .role-name{
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    background: #3a5bd6;
    display: table;
    padding: 0px 5px;
        border-radius: 3px;
  }
  .custom-control-label::after{
    // border: 1px solid #efefef !important;

  }
//   .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
//     background-color: #fa4a01;
//     /* border-color: red !important; */
// }

.navbar-vertical .navbar-nav .nav-link > .material-icons{
  min-width: unset;
  font-size: 20px;
  line-height: 1.5rem;
  // margin-right: 16px;
  position: relative;
  // top: 2px;
  // margin: 16px 0 4px 0;
  // color:#5f6368 !important;
}
.navbar-vertical .navbar-nav .nav-link{
  display: inline-block;
  padding: 10px 10px 4px!important;
  border-radius: 10px;
    
}
.nav-label {
  color: #3c4043;
  font-size: 10px;
  display: none;
    font-weight: 600;
    letter-spacing: -0.3px;
    text-transform: uppercase;
  // font: 500 12px/20px Google Sans,Roboto,Arial,sans-serif;
  letter-spacing: 0.17px;
  padding-bottom: 16px;
  text-align: center;
}
.navbar-vertical.navbar-expand-md .navbar-brand-img{
  max-height: unset;
  // max-width: 40px;

  max-width: 30px;
  // margin-left: -11px;
    // margin-top: 20px;

}
.form-control-label{
  font-size: 13px;
}
.qucikreplay.campagin{
  background-color: rgb(250, 250, 250);
  background-color: #fff;
border-radius:10px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.1);

  padding: 25px 30px 30px;

}
.qucikreplay.campagin:hover{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qucikreplay.campagin i{
       position: unset; 
     right: unset; 
    top: unset; 
     display: unset;
     font-size: 22px;

}
.qucikreplay.campagin button{
background: none;
}
.btn-primary{
  background-color: #3a5bd6;
  border-color: #3a5bd6;
}
.btn-primary:hover{
  background-color: #3a5bd6;
  border-color: #3a5bd6;
}
.app-editor {header {
  padding: 10px 16px;
  background: #ffffff;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  z-index: 0;
  left: 0;
  right: 0;
}}
.competor-them-list-wrap{
  .comp-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .check{
      display: none;
      position: absolute;
      right: 10px;
      top: 10px;
    }
    position: relative;
    padding: 10px 20px 2px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin-bottom: 10px;
    // cursor: pointer;
    &:hover, &.active{
      
    .check{
      display: block  ;
      color: #3362c5 !important;
    }
      // background: whitesmoke;
      -webkit-box-shadow:  0 0px 0px 0 rgba(60, 64, 67, 0.3), 0 0px 5px 0px rgba(60, 64, 67, 0.1);
      box-shadow: 0 0px 0px 0 rgba(60, 64, 67, 0.3), 0 0px 5px 0px rgba(60, 64, 67, 0.1);
      border-color: #f1eded;
    }
    input{
      border: 2px solid #e4e4e4;
      background: whitesmoke;
      margin: 0 10px;
      max-width: 70px;
      padding: 2px 10px;
      font-weight: 500;
    }
}
}
.preview-wrap{
  .prev-head{
    position: relative;
    top: 0px;
    width: 100%;
    height: 40px;
    border-top: 1px solid #dde1e6;
    border-right: 1px solid #dde1e6;
    border-left: 1px solid #dde1e6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .template__circlebox{
      position: absolute;
    top: 15px;
    left: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 40px;
      .template__circle{
        width: 8px;
    height: 8px;
    background-color: #dde1e6;
    margin-right: 6px;
    border: 1px solid #dde1e6;
    border-radius: 50%;
      }
    }
  }
  .prev-img{
    border-bottom: 1px solid #dde1e6;
    border-right: 1px solid #dde1e6;
    border-left: 1px solid #dde1e6;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline-block;
    position: relative;
  }
}
.display-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.review{
  $face: #FFFF4C;
$outline: #3d3d3d;
$star: #FFDB19;

$outline-size: 6px;

// Layout
#form {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  height: 100%;
  margin: auto;
}

// Icon Font
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

// Reset Filter
.reset {
  display: none;
  position: absolute;
  top: 100%; left: 50%;
  margin: auto;
  padding: 12px 24px;
  color: $outline;
  background: lighten($outline, 70%);
  border: 4px solid $outline;
  border-radius: 60px;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: rgba(white, 0.8) 1px 1px 0;
  cursor: pointer;
  box-shadow: inset rgba(black, 0.06) 0 -15px 0;
  outline: none;
  transform: translateX(-50%);
  &:hover {
    background: $face;
  }
}

// Inputs + Labels
input, label {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.stars {
  position: relative;
  
  input {
    display: none;
    &:checked ~ label:not(.reset) {
      animation: wobble 0.8s ease-out;
      color: $star;
    }
    &:checked:not(#star-reset) ~ label.reset {
      display: block;
    }
  }
  label:not(.reset) {
    display: inline-block;
    float: right;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 40px;
    padding: 2px;
    cursor: pointer;
    color: $outline;
    transition: color 0.1s ease-out;
    z-index: 10;
  }
}

// Face
.face {
  position: relative;
  width: 200px;
  background: white;
  border: $outline-size solid lighten($outline, 70%);
  border-radius: 100%;
  margin: 80px 0 50px;
  transition: box-shadow 0.4s ease-out;
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

// Eyes
i {
  position: absolute;
  top: 50%;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: lighten($outline, 70%);
  &:nth-child(1) {
    left: 30%;
  }
  &:nth-child(2) {
    right: 30%;
  }
}

// Smile
u {
  position: absolute;
  right: 0; bottom: 25%; left: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  text-decoration: none;
  border: $outline-size solid lighten($outline, 70%);
  border-radius: 100%;
  &:before, &:after {
    content: "";
    position: absolute;
    top: 15px;
    width: $outline-size;
    height: $outline-size;
    background: lighten($outline, 70%);
    border-radius: 60px 60px 0 0;
    z-index: 2;
  }
  &:before {
    left: -$outline-size + 1;
    transform: rotate(-32deg);
  }
  &:after {
    right: -$outline-size + 1;
    transform: rotate(32deg);
  }
  .cover {
    position: absolute;
    top: -$outline-size;
    left: -$outline-size;
    width: 100%;
    height: 100%;
    border: $outline-size solid white;
    background: white;
    transform: translate(0,-12px);
  }
}

// Facial Expressions
input#star4:checked,
input#star2:checked {
  ~ .face {
    u {
      width: 36px;
      &:before, &:after {
        top: 18px;
        height: 10px;
      }
      &:before {
        left: 0px;
        transform: rotate(-66deg);
      }
      &:after {
        right: 0px;
        transform: rotate(66deg);
      }
      .cover {
        transform: translate(0,-8px); 
      }
    }
  }
}
input#star5:checked,
input#star4:checked {
  ~ .face {
    u {
      transform: rotate(180deg)
        translateY(-20px);
    }
  }
}
input#star3:checked {
  ~ .face {
    u {
      width: 42px;
      height: $outline-size;
      background: $outline;
      border: none;
      border-radius: 60px;
      transform: translateY(-4px);
      &:before,
      &:after,
      .cover {
        display: none;
      }
    }
  }
}

// Face Color Changes
input:not(#star-reset):checked {
  ~ .face {
    animation: wobble 0.8s ease-out;
  }
  ~ .face,
  ~ .face u {
    border-color: $outline;
  }
  ~ .face i,
  ~ .face u:before,
  ~ .face u:after {
    background: $outline;
  }
}
input#star5:checked ~ .face {
  background-color: lighten($face, 40%);
  box-shadow: 
    inset rgba(white, 0.5) 2px 2px 0 4px,
    inset rgba(black, 0.06) -6px -4px 0 4px;
  u .cover {
    background: lighten($face, 40%);
    border-color: lighten($face, 40%);
  }
}
input#star4:checked ~ .face {
  background-color: lighten($face, 30%);
  box-shadow: 
    inset rgba(white, 0.5) 2px 2px 0 4px,
    inset rgba(black, 0.06) -6px -4px 0 4px,
    rgba($face, 0.05) 0 0 0 20px;
  u .cover {
    background: lighten($face, 30%);
    border-color: lighten($face, 30%);
  }
}
input#star3:checked ~ .face {
  background-color: lighten($face, 20%);
  box-shadow: 
    inset rgba(white, 0.5) 2px 2px 0 4px,
    inset rgba(black, 0.06) -6px -4px 0 4px,
    rgba($face, 0.3) 0 0 0 15px,
    rgba($face, 0.1) 0 0 0 30px;
}
input#star2:checked ~ .face {
  background-color: lighten($face, 10%);
  box-shadow: 
    inset rgba(white, 0.5) 2px 2px 0 4px,
    inset rgba(black, 0.06) -6px -4px 0 4px,
    rgba($face, 0.4) 0 0 0 20px,
    rgba($face, 0.2) 0 0 0 40px;
  u .cover {
    background: lighten($face, 10%);
    border-color: lighten($face, 10%);
  }
}
input#star1:checked ~ .face {
  background-color: $face;
  box-shadow: 
    inset rgba(white, 0.5) 2px 2px 0 4px,
    inset rgba(black, 0.06) -6px -4px 0 4px,
    rgba($face, 0.4) 0 0 0 25px,
    rgba($face, 0.2) 0 0 0 50px;
  u .cover {
    background: $face;
    border-color: $face;
  }
}

// Star -- Animation
@keyframes wobble {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.96);
  }
  100% {
    transform: scale(1);
  }
}

///satr

.rating {
  width: 265px;
  margin: 200px auto 0;
  position: relative;
  direction: rtl;
}
.rating .emo {
  position: absolute;
  font-family: FontAwesome;
  color: #fff;
  font-size: 100px;
  bottom: 150%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: inline-block;
}
.rating .emo:after {
  content: '\f119';
}
.rating input {
  position: absolute;
  width: 35px;
  height: 50px;
  cursor: pointer;
  -webkit-transform: translateX(52px);
  transform: translateX(52px);
  opacity: 0;
  z-index: 5;
}
.rating input:nth-of-type(4):checked ~ .emo:after, .rating input:nth-of-type(4):hover ~ .emo:after, .rating input:nth-of-type(3):checked ~ .emo:after, .rating input:nth-of-type(3):hover ~ .emo:after {
  content: '\f11a';
}
.rating input:nth-of-type(1):checked ~ .emo:after, .rating input:nth-of-type(1):hover ~ .emo:after, .rating input:nth-of-type(2):checked ~ .emo:after, .rating input:nth-of-type(2):hover ~ .emo:after {
  content: '\f118';
}
.rating input:nth-of-type(1) {
  right: 50px;
}
.rating input:nth-of-type(2) {
  right: 100px;
}
.rating input:nth-of-type(3) {
  right: 150px;
}
.rating input:nth-of-type(4) {
  right: 200px;
}
.rating input:nth-of-type(5) {
  right: 250px;
}
.rating input:nth-of-type(6) {
  right: 300px;
}
.rating input:checked ~ .star:after, .rating input:hover ~ .star:after {
  content: '\f005';
}
.rating .star {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 42px;
  color: #FBB202;
  cursor: pointer;
  margin: 3px;
}
.rating .star:after {
  content: '\f006';
}
.rating .star:hover ~ .star:after, .rating .star:hover:after {
  content: '\f005';
}



.container-smily {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0 20px;




  .rating {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    height: 150px;
    position: relative;
  }
  
  .rating-0 {
    filter: grayscale(100%);
  }
  
  .rating > input {
    display: none;
  }
  
  .rating > label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
  }
  
  .rating > input:checked ~ label,
  .rating > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  }
  
  
  .rating > input:not(:checked) ~ label:hover,
  .rating > input:not(:checked) ~ label:hover ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  }
  
  .emoji-wrapper {
    width: 100%;
    text-align: center;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .emoji-wrapper:before,
  .emoji-wrapper:after{
    content: "";
    height: 15px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
  }
  
  .emoji-wrapper:before {
    top: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
  }
  
  .emoji-wrapper:after{
    bottom: 0;
    background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
  }
  
  .emoji {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
  }
  
  .emoji > svg {
    margin: 15px 0; 
    width: 70px;
    height: 70px;
    flex-shrink: 0;
  }
  
  #rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
  #rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
  #rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
  #rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
  #rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }
  
  .feedback {
    max-width: 360px;
    background-color: #fff;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0,0,0,.05);
  }
  



}
}

.copytoclip {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 20px 15px 20px 15px;
  cursor: pointer;
  border: 1px #cccccc solid;
  justify-content: space-between;
    font-size: 15px;
  &:hover{
    border: 1px #2c2e7c solid;
    background: #f2f2ff;
    color: #2f317e;
  }
}
.copytoclipInner{
  color: #2c2e7c;
  position: absolute;
  left: 15px;
  bottom: -30px;
}
.copybutton{
  color: #3a5bd6;
font-size: 12px;
  display: flex;
  .material-icons{
    margin-right: 10px;
    font-size: 18px;

  }
}
.status{
  &-active{
    background-color: #34ce9d;
    color: white;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
  }
  &-pause{
    background-color: #fddd4d;
    color: inherit;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;

  }
}
.btn-icon-only.btn-sm:hover{
  box-shadow: none;

}


.notification-container, .verified-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.audience-modal-wrapper, .notification-container {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff));
}
.notification-container {
  position: absolute;
  left: 40px;
  top: auto;
  right: auto;
  bottom: 40px;
  display: flex;
  overflow: hidden;
  width: fit-content;
  padding: 16px 30px 16px 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-image: linear-gradient(180deg,#fff,#fff);
  box-shadow: 0 0 10px 0 rgba(0,10,63,.12);
  color: #7d90b8;
  font-size: 12px;
  font-weight: 400;

  line-height: 1.8em;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}


.notification-text {
  margin-left: 15px;
}
.dark-bold-text {
  color: #06062e;
  font-size: 15px;
  font-weight: 500;
}
.verified-container {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #516eff;
  font-size: 12px;
  font-weight: 400;
}
.content-card, .verified-check {
  margin-right: 5px;
  width: 13px;
}


.rangeslider {
  &-wrapper {
      position: relative;
      width: 100%;
      height: 24px;
      display: flex;
      .rangeslider {
          &-slider {
              flex: 0 0 75%;
              width: 75%;
              padding: 10px 5px 0 0;
          }
          &-value {
              flex: 0 0 25%;
              width: 25%;
              input {
                  height: 24px;
                  padding: 0px;
                  max-width: 100%;
                  text-align: center;
                  &::-webkit-inner-spin-button, 
                  &::-webkit-outer-spin-button { 
                      -webkit-appearance: none; 
                      margin: 0; 
                  }
              }
          }
      }
  }
  &-horizontal {
      height: 5px;
      border-radius: 10px;
      width: 100%;
      background: #ececec;
      .rangeslider {
          &__fill {
              height: 100%;
              background-color: #adadad;
              border-radius: 10px;
              top: 0;
          }
          &__handle {
              width: 10px;
              height: 10px;
              border-radius: 10px;
              top: 50%;
              transform: translate3d(-50%,-50%,0);
          }
          &__labels {
              position: relative;
          }
      }
  }
  .rangeslider {
      &__handle {
          background: #fff;
          border: 1px solid #ccc;
          cursor: pointer;
          display: inline-block;
          position: absolute;
          box-shadow: 0 1px 3px rgba(0,0,0,.4), 0 -1px 3px rgba(0,0,0,.4);
      }
  }
}

.two-column {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  width: 100%;
  > * {
      flex: 0 0 50%;
      width: 50%;
  }
  &.rangeslider-container {
      label {
          flex: 0 0 30%;
          + .rangeslider-wrapper {
              flex: 0 0 70%;
          }
      }
  }
}

.text-center {
  text-align: center;
}
.text-block-109 {
  color: #435b8c;
}
.verified-check._8px-left-margin {
  margin-left: 8px;
}



// Variables
$color: #0673ff;

.circle-ripple {
  background-color: #0673ff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  animation: ripple 0.9s linear infinite;
  font-size: 26px;
    letter-spacing: -0.7px;
    font-weight: 900;
    color: white;
    align-items: center;
    display: flex;
    box-shadow: 0 0 0 8px rgba($color, 0.3);

    .count{
      position: relative;
      left: 20px;
    }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 3px rgba($color, 0.3),
                // 0 0 0 8px rgba($color, 0.3),
                // 0 0 0 2em rgba($color, 0.3),
                // 0 0 0 3em rgba($color, 0.3);
  }
  100% {
    box-shadow: 0 0 0 8px rgba($color, 0.3),
                // 0 0 0 13px rgba($color, 0.3),
                // 0 0 0 13px rgba($color, 0.3),
            
  }
}
.active.nav-link {
  color: #7e3cff;
}
#tabs-icons-text{
 .material-icons{
  position: relative;
  top: 7px;
  margin-right: 0.5rem !important;

}
 } 

 .pulse-editor-wrap{
  .two-column{
    border: 1px solid #e4e4e4;
    padding: 10px;
    align-items: center;
    border-radius: 4px;
    label{
      margin-bottom: 0px;

    }
    .rangeslider-wrapper .rangeslider-slider{
      width: 100%;
      flex: 0 0 100%;

    }
  }
 }
 .btn-no-design{
  padding: unset;
  box-shadow: none;
 }
 .full-popup{
  max-width: 80%;
  margin: 0 auto;
  top: 0px;
  position: absolute;
  right: 0;
  left: 20%;
  bottom: 0px;
  .modal-content{
    height: 100%;
    overflow: auto;
    border-radius: 0px;
  }
 }


.circle-ripple {
  // background-color: #35ffc3;
  // width: 1em;
  // height: 1em;
  // border-radius: 50%;
  -webkit-animation: ripple 0.7s linear infinite;
          animation: ripple 0.7s linear infinite;
}

// @-webkit-keyframes ripple {
//   0% {
//     box-shadow: 0 0 0 0 rgba(101, 255, 120, 0.3), 
//     0 0 0 5px rgba(101, 255, 120, 0.3), 
//     0 0 0 10px rgba(101, 255, 120, 0.3), 
//     0 0 0 20px rgba(101, 255, 120, 0.3);
//   }
//   100% {
//     box-shadow: 0 0 0 1px rgba(101, 255, 120, 0.3), 
//     0 0 0 5px rgba(101, 255, 120, 0.3), 
//     0 0 0 10px rgba(101, 255, 120, 0.3), 
//     0 0 0 20px rgba(101, 255, 120, 0);
//   }
// }

// @keyframes ripple {
//   0% {
//     box-shadow: 0 0 0 3px rgba(101, 255, 120, 0.3), 
//     0 0 0 5px rgba(101, 255, 120, 0.3), 
//     0 0 0 10px rgba(101, 255, 120, 0.3), 
//     0 0 0 20px rgba(101, 255, 120, 0.3);
//   }
//   100% {
//     box-shadow: 0 0 0 3px rgba(101, 255, 120, 0.3), 
//     0 0 0 5px rgba(101, 255, 120, 0.3), 
//     0 0 0 10px rgba(101, 255, 120, 0.3), 
//     0 0 0 20px rgba(101, 255, 120, 0);
//   }
// }


.accountForm{
  padding-right: 45px;
  label{
      font-size: 16px;
      font-weight: 600;
      color:#2d2d2d;
  }
  .successFileUpload {
      padding: 20px 25px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      position: relative;
      .closeIcon{
          position: absolute;
          top: 29px;
          right: 29px;
          display: block;
          background-image: url(../img/icons/close-small.png);
          width: 21px;
          height: 21px;
          cursor: pointer;            
      }
  }
  .accountTypeOption{
    cursor: pointer;
      input[type=radio]{
          display: none;
          &:checked, &:hover{
              ~.account-slection-wrap{                    
                  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
                  transform: translateY(-1px);
                  &:before{
                      background-image: url(../img/icons/active_tick.png);
                  }
              }
          }
      }
  }
  .account-slection-wrap{
      border: 1px solid #efefef;
      border-radius: 5px;
      margin-top: 30px;
      position: relative;
      padding: 45px;
      &:before{
          content: '';
          width: 27px;
          height: 27px;
          background-image: url(../img/icons/in_active_tick.png); 
          position: absolute;
          top: 15px;
          right: 15px;
      }
      h2{
          font-weight: 600;
          font-size: 17px;
          color: #352054;
          margin-top: 15px;
      }
      p{
          margin-bottom: 0;
          color: #c4c4c4;
          line-height: 1.4;
      }
  }
  .uploadTypeWrapper{
      position: relative;
      padding-left: 25px;
      font-size: 16px;
      font-weight: 400;
      input[type=radio]{
          display: none;            
          ~.checkmark{
              position: absolute;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              border: 1px solid #d0d0d0;
              left: 0;
              top: 2px;
          }
          &:checked{
              ~.checkmark{
                  border-color: #9bd9a3;
                  &:after{
                      content: '';
                      position: absolute;
                      width: 12px;
                      height: 12px;
                      border-radius: 50%;
                      background-color: #3bb54a;
                      top: calc( 50% - 6.5px);
                      left: calc( 50% - 6.2px );
                  }
              }
          }
      }
  }
  .uploadFileWrapper{
      padding: 25px;
      border: 1px solid #eaeaea;
      border-radius: 5px;
      .fileUploadWrapper{
          display: inline-block;
          width: 100%;
          height: 100%;
          background-color: #efefef;
          position: relative;
          text-align: center;
          font-size: 16px;
          padding-top: 120px;
          padding-bottom: 20px;
          border-radius: 5px;
          &::before{
              content: '';
              width: 47px;
              height: 47px;
              background-image: url(../img/icons/upload-accounts.png);
              position: absolute;
              top: calc( 50% - 38.5px );
              left: calc( 50% - 28.5px );
          }
          p{
              padding-top: 20px;
              margin-bottom: 30px;
          }
          .fileUpload {
              opacity: 0;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
          }
      }
      & > p{
          margin-top: 10px;
          margin-bottom: 0;
          font-size: 12px;
          color: #86abf4;
          line-height: 1;
      }
  }
  .smallLabel{
      font-size: 16px;
      font-weight: 400;
  }
  .accountUploadSegment{
      padding: 25px;
      border: 1px solid #eaeaea;
      border-radius: 5px;
      .formCheckBoxWrap{
          padding-left: 25px;
          position: relative;
          cursor: pointer;
          .smallLabel{
              cursor: pointer;
          }
          input[type=checkbox]{
              display: none;
              &~.checkmark{
                  width: 16px;
                  height: 16px;
                  border: 1px solid #d0d0d0;
                  position: absolute;
                  left: 0;
                  top: 2px;
                  border-radius: 2px;
              }
              &:checked{                    
                  ~.checkmark{
                      border-color: #9bd9a3;
                      &::before{
                          content: '\2714';
                          color: #3bb54a;
                          font-size: 14px;
                          position: absolute;
                          top: -3px;
                          font-weight: bold;
                          left: 1px;
                      }
                  }
              }
          }
      }
      .orWrapper{
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: #baeac4;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          font-weight: 600;
      }
  }
  // #multiselectContainerReact{
  //     > div {
  //         &:first-child{
  //             padding: 0 12px;
  //         }
  //         > span{
  //             background-color: #baeac4;
  //             color: #839286;
  //             border-radius: 2px;
  //             margin-right: 10px;
  //             white-space: pre-wrap;
  //             position: relative;
  //             > i {
  //                 position: absolute;
  //                 &::before{
  //                     content: 'X';
  //                     font-size: 10px;
  //                     font-family: arial;
  //                     font-weight: 600;
  //                 }
  //             }
  //         }
  //         input{
  //             width: auto;
  //         }
  //     }
  // }

  .firmographicWrapper{
      padding: 25px;
      border: 1px solid #eaeaea;
      border-radius: 5px;
  }
}



.dynamicForm {
  // margin: auto;
  // margin-top: 50px;
  // padding-top: 100px;
}

.dynamicForm {
  $horizontal-padding: 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
  // padding-top: 100px;
  padding-bottom: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
 
  &__buttonWrapper {
   
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
  
  }
  
  &__button {
    border: 0;
    outline: 0;
    
    height: 40px;
    padding: 0 15px;
    border-radius: 3px;
    background-color: #ef004a;
    color: #fff;
    cursor: pointer;
    box-shadow:
      0 2px 2px 0 rgba(0,0,0,0.14),
      0 3px 1px -2px rgba(0,0,0,0.12),
      0 1px 5px 0 rgba(0,0,0,0.2),
      inset 2px -2px #cc024b;
  }
  
  &__button--isGhost {
    background-color: #ef004a;
    color: #fff;
    box-shadow: initial;
  }
  
  &__item {
    width: 100%;
    height: 40px;
    position: relative;
    
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  
  &__itemInput {
    border: 0;
    outline: 0;
    
    width: 100%;
    height: 100%;
    padding: 0 10px;
    padding-right: 50px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #f2f4f4;
    
    &:hover,
    &:focus {
      & + .dynamicForm__itemButton {
        visibility: visible;
      }
    }
  }
  
  &__itemButton {
    border: 0;
    outline: 0;
    
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #808080;
    cursor: pointer;
    visibility: hidden;
    
    &:hover {
      visibility: visible;
    }
    
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 3px;
      background-color: currentColor;
      transform: rotate(45deg);
    }
    
    &::after {
      transform: rotate(-45deg);
    }
  }
}
.cancel-btn {
  letter-spacing: 0.8px;
  font-size: 16px;
  background-color: #ffffff !important;
  border: 2px solid #6d9093 !important;
  color: #181818;
  font-weight: 400;
  display: inline-block;
  padding: 1rem 1.4rem 0.9rem;
  border-radius: 4px;
  height: unset;
  width: auto;
}
.avatar-sm{
  background-color: #7e3cff;
  font-size: 26px;

}