.popup-editor-canvas {
    left: 0;
    bottom: 0;
    top: 60px;
    left: 370px;
    right: 0;
    position: fixed;
    padding: 50px 0;
    overflow-y: auto;
    overflow-x: hidden;
    // background: #f6f6f6;
    // background: #f0f8ff;
    // box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,.5);
    // background-image: url(../../../../../assets/images/editor-bg.svg);
    background-size: 40px;
    &::-webkit-scrollbar {
        width: 2px;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    .rc-popup .rc-popup-preview & {
        width: 100%;
        top: 0px;
        background: transparent;
    }
    .main-content {
        padding: 2px 2px;
        // background: #ffffff;
        position: relative;
        .popup-editor-container {
            width: 100%;
            margin: 0 auto;
            .popup-editor-content {
                height: 100%;
                .popup-editor-column-wapper {
                    display: flex;
                    height: 100%;
                    .popup-editor-column {
                        flex-grow: 1;
                        // width: 50%;
                        position: relative;
                        &:hover {
                            .column-option {
                                // display: inline;
                            }    
                        }
                        .column-option {
                            position: absolute;
                            display: none;
                            right: -25px;
                            &.move {
                                top: 0;
                            }
                            &.delete {
                                top: 25px;
                            }
                        }
                        .popup-editor-element-wapper {
                            min-height: 100px;
                            height: 100%;
                            &.on-dragging {
                                background: papayawhip;
                            }
                        }
                        .popup-editor-element {
                            border: 1px dashed transparent;
                            display: inline-block;
                            position: relative;
                            width: 100%;
                            > .element-option {
                                position: absolute;
                                background: gray;
                                text-align: center;
                                line-height: 25px;
                                display: none;
                                color: #ffffff;
                                width: 25px;
                                height: 25px;
                                top: -26px;
                                &:hover {
                                    background: #ffffff;
                                    color: gray;
                                }
                                .material-icons {
                                    font-size: 16px;
                                    line-height: 25px;
                                }
                                &.move {
                                    left: calc(50% - 25px);
                                }
                                &.delete {
                                    left: calc(50% + 0px);
                                    cursor: pointer;
                                }
                                &.edit {
                                    left: calc(50% + 25px);
                                    cursor: pointer;
                                }
                            }
                            &:hover {
                                border-color: black;
                                > .element-option {
                                    display: inline-block;
                                }
                            }
                            p {
                                margin: 0;
                            }
                            &.element-editable {
                                z-index: 1;
                            }
                            &.new-element-dragging {
                                transform: none !important;
                            }
                            .popup-editor-button-element {
                                display: inline-block;
                                margin: 0 auto;
                                cursor: text;
                            }
                            .popup-editor-form {
                                .popup-editor-form-input {
                                    width: 100%;
                                    padding: 10px;
                                    margin-bottom: 5px;
                                }
                                .popup-editor-form-submit {
                                    padding: 10px;
                                    display: block;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.popup-editor-content {
    .popup-editor-section {
        // &:not(.isDragging) {
        //     transform: none !important;
        // }
        > .popup-editor-section-wrapper {
            position: relative;
            .popup-editor-section-option {
                border-radius: 0px 25px 25px 0px;
                top: calc(50% - 17.5px);
                position: absolute;
                padding-left: 5px;
                background: red;
                color: #ffffff;
                display: none;
                height: 35px;
                width: 35px;
                z-index: 2;
                left: 0;
                &.open {
                    width: 65px;
                    .arrow {
                        display: none;
                    }
                }
                &:not(.open) {
                    .move, .delete {
                        display: none;
                    }
                }
                .delete {
                    cursor: pointer;
                }
                .move, .delete {
                    display: inline-block;
                    text-align: center;
                    width: 27px;
                }
                .material-icons {
                    font-size: 20px;
                    line-height: 35px;
                }
            }
            > .isDragging {
                display: none;
            }
        }
        &.isHovered:hover, &.section-selected {
            > .popup-editor-section-wrapper {
                outline: 2px solid red;
                .popup-editor-section-option {
                    display: inline-block;
                }
            }
        }
        .popup-editor-section-option {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.popup-editor-structure {
    position: relative;
    > .popup-editor-structure-label {
        background-color: yellow;
        letter-spacing: 1px;
        font-family: roboto;
        position: absolute;
        color: #000000;
        padding: 3px 5px;
        font-size: 10px;
        left: -1.5px;
        top: -13px;
        display: none;
        padding: 5px 10px;
        font-size: 9px;
        line-height: 1;
        border-radius: 999px;
        z-index: 9;
    }
    &.isHovered:hover, &.stracture-selected {
        > .popup-editor-structure-label {
            display: inline-block;
        }
    }
    > .popup-editor-structure-inside {
        position: relative;
        .structure-option {
            position: absolute;
            right: calc(50% - 12.5px);
            top: -12.5px;
            background: yellow;
            border-radius: 25px;
            text-align: center;
            color: gray;
            display: none;
            height: 25px;
            width: 25px;
            z-index: 1;
            .material-icons {
                font-size: 18px;
                line-height: 25px;
            }
        }
    }
    &.isHovered:hover, &.stracture-selected {
        > .popup-editor-structure-inside {
            outline: 2px solid yellow;
            z-index: 1;
            .structure-option {
                display: inline-block;
            }
        }
    }
    &:not(.isDragging) {
        transform: none !important;
    }
}
.popup-editor-container {
    position: relative;
    &.isDragging {
        height: 0px !important;
    }
    &:not(.isDragging) {
        transform: none !important;
    }
    > .popup-editor-container-label {
        background-color: #07ca37;
        letter-spacing: 1px;
        font-family: roboto;
        position: absolute;
        color: #ffffff;
        padding: 3px 5px;
        font-size: 10px;
        left: -1.5px;
        top: -11px;
        display: none;
        padding: 5px 10px;
    font-size: 9px;
    line-height: 1;
    color: #fff;
    // background: #357df9;
    border-radius: 999px;
    z-index: 9;
    }
    &.isHovered:hover, &.container-selected {
        > .popup-editor-container-label {
            display: inline-block;
        }
    }
    .popup-editor-container-wrapper {
        position: relative;
        .column-option {
            position: absolute;
            right: calc(50% - 12.5px);
            top: -12.5px;
            background: #07ca37;
            border-radius: 25px;
            text-align: center;
            color: #ffffff;
            display: none;
            height: 25px;
            width: 25px;
            z-index: 1;
            .material-icons {
                font-size: 18px;
                line-height: 25px;
            }
        }
        &.isDragging {
            display: block;
            .column-option {
                display: block;
            }
            > table {
                display: none;
            }
        }
    }
    &.isHovered {
        .popup-editor-container-wrapper:hover {
            outline: 2px solid #07ca37;
            z-index: 1;
            .column-option {
                display: inline-block;
            }
        }
    }
    &.container-selected {
        .popup-editor-container-wrapper {
            outline: 2px solid #07ca37;
            z-index: 1;
            .column-option {
                display: inline-block;
            }
        }
    }
}

.popup-editor-element {
    position: relative;
    word-break: break-word;
    &.isDragging {
        height: 0 !important;
    }
    &:not(.isDragging) {
        transform: none !important;
    }
    .popup-editor-element-label {
        background-color: #357df9;
        letter-spacing: 1px;
        font-family: roboto;
        position: absolute;
        color: #f8f8f8;
        padding: 3px 5px;
        font-size: 10px;
        left: -1.5px;
        top: -9px;
        display: none;
                padding: 5px 10px;
        font-size: 9px;
        line-height: 1;
        color: #fff;
        background: #357df9;
        border-radius: 999px;
        z-index: 9;
    }
    &.isHovered:hover {
        > .popup-editor-element-label {
            display: inline-block;
        }
    }
    p {
        margin: 0;
    }
    .is-selected {
        outline: 2px solid #958ef9;
        position: relative;
        z-index: 2;
    }
    .popup-editor-element-wrapper {
        position: relative;
        .element-option {
            position: absolute;
            right: calc(50% - 12.5px);
            top: -12.5px;
            width: 25px;
            height: 25px;
            display: none;
            background: #357df9;
            border-radius: 25px;
            .move {
                color: #ffffff;
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 34px;
                display: inline-block;
            }
            span {
                .material-icons {
                    font-size: 18px;
                }
            }
        }
        &.isDragging {
            display: block;
            .element-option {
                display: block;
            }
        }
        .element-edit-option {
            position: absolute;
            bottom: -30px;
            right: -2px;
            display: flex;
            z-index: 2;
            .button {
                background: transparent;
                text-align: center;
                padding: 2px;
                height: 28px;
                width: 28x;
                cursor: pointer;
                .material-icons {
                    background: #958ef9;
                    color: #ffffff;
                    font-size: 16px;
                    line-height: 24px;
                    width: 24px;
                }
            }
        }
        hr {
            border-right: 0px !important;
            border-bottom: 0px !important;
            border-left: 0px !important;
        }
    }
    &.isHovered .popup-editor-element-wrapper:hover {
        outline: 2px solid #357df9;
        z-index: 1;
        .element-option {
            display: block;
        }
    }
}

.popup-editor-section {
    .popup-editor-structure-wrapper {
        display: flex;
        .empty-container {
            height: 150px;
            display: block;
            background: green;
            text-align: center;
            color: #ffffff;
            padding: 60px;
            &:after {
                content: "Drop Container Here!"
            }
        }
    }
}

.drop-it-here {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 50%;
    z-index: 1;
    left: 0px;
    .drop-it-here-border {
        display: none;
        height: 0px;
        position: absolute;
        width: 100%;
        border: 1px solid #958ef9;
        span {
            background: #958ef9;
            display: inline-block;
            position: absolute;
            height: 20px;
            padding: 0 5px;
            border-radius: 10px;
            color: #ffffff;
            left: calc(50% - 45px);
            width: 90px;
            font-size: 12px;
            line-height: 20px;
        }
    }
    &.top {
        top: 0;
        // background: aqua;
        .drop-it-here-border {
            top: -1px;
            span {
                top: -10px;
            }
        }
    }
    &.bottom {
        bottom: 0;
        // background: bisque;
        .drop-it-here-border {
            bottom: -1px;
            span {
                bottom: -10px;
            }
        }
    }
    &:hover {
        .drop-it-here-border {
            display: block;
        }
    }
    &.emptyElementArr {
        height: 100%;
        .drop-it-here-border {
            height: 100%;
            padding: 15px;
            background: #ffffff;
            span {
                background: #ffffff;
                color: #4CB9EA;
            }
        }
    }
}

.section-option {
    position: relative;
    display: none;
    &.isClicked {
        display: block;
        .add-section-option {
            .material-icons {
                transform: rotate(45deg);
            }
        } 
    }
    .popup-editor-section.isHovered:hover & {
        display: block;
    }
    .popup-editor-section.isHovered & {
        position: absolute;
        bottom: 0px;
    }
    .add-section-option {
        background: #f6f6f6;
        border-radius: 34px;
        position: absolute;
        text-align: center;
        height: 34px;
        color: red;
        width: 34px;
        top: -17px;
        left: 20px;
        z-index: 1;
        cursor: pointer;
        .material-icons {
            line-height: 34px;
            transition: 0.5s ease;
        }
    }
    .add-new-section-popup {
        box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.5);
        background: #ffffff;
        border-radius: 10px;
        position: absolute;
        display: flex;
        bottom: -30px;
        padding: 5px;
        width: 380px;
        height: 60px;
        left: 60px;
        z-index: 1;
        &:before {
            content: "";
            display: inline-block;
            height: 20px;
            width: 20px;
            background: #ffffff;
            position: absolute;
            top: calc(50% - 10px);
            left: -10px;
            transform: rotate(45deg);
            z-index: -1;
        }
        &-wrapper {
            border-radius: 5px;
            display: flex;
            flex-grow: 1;
            padding: 5px;
            &:hover {
                box-shadow: 0 0 0 1px #00ff00;
            }
        }
        &-column {
            flex-grow: 1;
            background-color: gray;
            padding: 2px 0px 2px 2px;
            &:first-child {
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                > span {
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                }
            }
            &:last-child {
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                padding: 2px;
                > span {
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 5px;
                }
            }
            > span {
                padding: 5px;
                background-color: white;
                width: 100%;
                height: 100%;
                display: inline-block;
            }
        }
    }
}

.text-element {
    // position: relative;
    &.action-buttons {
        position: absolute;
        top: -30px;
        right: 0;
        .action-buttons-clear, .action-buttons-save {
            width: 40px;
            display: inline-block;
            height: 25px;
            background: #ffffff;
            color: #666666;
            border-radius: 5px;
            text-align: center;
            box-shadow: 0 0 4px -1px #666666;
            border: 1px solid #cccccc;
            cursor: pointer;
            &:not(:last-child) {
                margin-right: 5px;
            }
            .material-icons {
                font-size: 20px;
                line-height: 22px;
            }
        }
    }
}