.popup-editor-header {
    display: flex;
    // box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.7);
    // background: #120f3a;
    // color: white;
    padding: 0px 0px 0 15px !important;
    align-items: center;
    height: 60px;
    background: #0d0938;
    font-family: 'Poppins', sans-serif !important;
    button{
        // background: #958ef9;
        // border: 1px solid #958ef9;
        padding: 7px 15px;
        font-weight: 500;
        color: white;
        border-radius: 3px;
        font-size: 14px;
        background-color: #3a5bd6 !important;
        border: 1px solid #3a5bd6;
        &.exit{
            background: #2dce89 !important;
            border: 1px solid #2dce89;
        }
    }
    &-left, &-right {
        flex-grow: 1;
    }
    &-left {
        display: flex;
        align-items: center;
        .logo {
            height: 40px;
            margin-right: 16px;
            img {
                height: 40px;
            }
        }
        .title {
            font-size: 18px;
            font-weight: 500;
            margin-left: 25px;
            line-height: 24px;
            a {
                color: black;
                display: inline-block;
                * {
                    vertical-align: bottom;
                }
            }
        }
    }
    // &-center {
    //     .popup-editor-header-name {
    //         line-height: 34px;
    //         font-size: 24px;
         
    //     }
    // }
    .popup-editor-header-name {
        line-height: 34px;
        font-size: 18px;
     
    }
    .editor-header-close{
        background: #fff;
    height: 59px;
    padding: 16px 23px 13px 0;
    a{
        color: #9e9e9e;

    }
    }
}