.form-builder {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    .close-popup {
        position: absolute;
        height: 30px;
        right: -15px;
        width: 30px;
        top: -15px;
        line-height: 36px;
        background: #ffffff;
        border-radius: 50%;
        text-align: center;
        font-size: 25px;
        cursor: pointer;
    }
    .form-builder-wrapper {
        background-color: #ffffff;
        // overflow: hidden;
        width: 750px;
        height: 500px;
        display: flex;
        border-radius: 3px;
        margin: 0 auto;
        position: relative;
        top: 150px;
        .form-fields {
            width: 25%;
            overflow-y: scroll;
            padding: 15px;
            .draggable-button {
                background-color: #ffffff;
                border: 1px solid #cccccc;
                margin-bottom: 15px;
                padding: 5px;
                cursor: pointer;
            }
        }
        .form-layout {
            width: 50%;
            overflow-y: scroll;
            .form-field {
                padding: 15px;
                outline: none;
                background: #ffffff;
                &:hover {
                    background: rgba(204, 204, 204, 0.5);
                }
                .alt-input {
                    outline: none;
                    border: 1px solid #AEAEAE;
                    background: #ffffff;
                    border-radius: 4px;
                    padding: 0 16px;
                    height: 44px;
                    line-height: 44px;
                    &.file-upload {
                        border-color: #cccccc;
                        border-style: dashed;
                        border-radius: 5px;
                        border-width: 2px;
                        text-align: center;
                        display: block;
                        padding: 15px;
                        height: auto;
                        span {
                            display: block;
                        }
                    }
                }
            }
        }
        .form-field-style {
            width: 25%;
            overflow-y: scroll;
            padding: 15px;
            .options {
                display: flex;
                line-height: 25px;
                margin-bottom: 10px;
                input, button {
                    margin-right: 5px;
                }
                input {
                    width: calc(100% - 60px);
                    height: 25px;
                    padding: 0 5px;
                }
                button {
                    height: 25px;
                    width: 25px;
                    padding: 0px;
                    border-radius: 15px;
                    line-height: 25px;
                    .material-icons {
                        font-size: 12px;
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
            button {
                &.dtn-delete {
                    line-height: 16px;
                    font-size: 12px;
                    width: 100%;
                    border: none;
                    padding: 10px 0;
                    color: #ffffff;
                    background: blue;
                    i {
                        font-size: 16px;
                        vertical-align: middle;
                        line-height: 1px;
                    }
                }
            }
        }
    }
}