.drop-here {
    border-color: lime !important;
    border-width: 0 !important;
    position: absolute;
    display: none;
    padding: 0px;
    z-index: 1;
    &-right, &-left {
        border-left-width: 4px !important;
        height: 100%;
        top: 0;
    }
    &-right {
        right: 0px;
    }
    &-left {
        left: 0px;
    }
    &-bottom, &-top {
        border-top-width: 4px !important;
        width: 100%;
        left: 0;
    }
    &-top {
        top: 0px;
    }
    &-bottom {
        bottom: 0px;
    }
}

.canvas {
    &-row {
        &.row {
            position: relative;
            outline: 0px solid transparent;
            // padding-left: 37px !important;
            padding: 0 0px !important;
            background: white;


            &:not(:hover) {
                .row-options {
                    .row-drag-handle, .handle-row-delete {
                        display: none;
                    }
                }
            }
            .row-options {
                position: absolute;
                height: 100%;
                width: 37px;
                z-index: 1;
                left: 0;
                top: 0px;
                padding: 5px 2px;

                .row-drag-handle, .handle-row-delete {
                    display: block;
                    text-align: center;
                    background: #ffffff;
                    border-radius: 40px;
                    box-shadow: 0 5px 50px 0 rgba(0,0,0,.2);
                    transition: background-color .2s cubic-bezier(.64,0,.35,1);
                    padding: 7px !important;
margin-bottom:5px ;
                    .material-icons-outlined {
                        font-size: 20px;
                        color: #919eab;

                    }
                    &:hover {
                        background: #3a5bd6;

                        .material-icons-outlined {
                            font-size: 20px;
                            color: #ffffff;
    
                        }
                    }
                }
                .handle-row-delete {
                    cursor: pointer;
                }
                &-del{
                    right: -50px;
                    left:unset;
                }
            }
            .canvas-col {
                // background-color: white;
                .droppable-col {
                    .canvas-col {
                        &-drag {
                            position: relative;
                            .col-options {
                                position: absolute;
                                background: #3a5bd6;
                                color: #ffffff;
                                // font-size: 12px;
                                line-height: 12px;
                                display: none;
                                outline: none;
                                z-index: 1;
                                top: -2px;
                                right: 0px;
                                .col-drag-handle, .col-edit-handle, .col-delete-handle {
                                    padding: 3px 3px;
                                    display: inline-block;
                                    .material-icons-outlined, .material-icons{
                                        font-size: 16px;
                                    }
                                    &:hover{
                                        background: #3c4e90;
                                    }
                                }
                                .col-edit-handle, .col-delete-handle {
                                    cursor: pointer;
                                }
                                * {
                                    outline: none;
                                }
                            }
                        }
                    }
                    &.isDragOver {
                        .empty-drop {
                            &:hover {
                                background-color: #000000;
                            }
                        }
                    }
                    &:not(.isDragOver) {
                        .canvas-col {
                            &-drag {
                                border: 2px solid transparent;

                                &:hover, &.isEditable {
                                    border: 2px solid #3a5bd6;
                                    z-index: 2;
                                    outline-offset: -1px;

                                }
                                &:not(.isDragging) {
                                    &:hover {
                                        .col-options {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &:hover {
                // &:before {
                    outline: 2px solid #3a5bd6; 
                    position: relative;
                    outline-offset: 2px;

    z-index: 1;
    // display: block;
    // content: '';
    // height: 100%;
    // position: absolute;
    // left: 38px;
    // right: 38px;
    // border-radius: 4px;
                // }
            }
        }
        &:hover {
            .drop-here {
                &-top, &-bottom {
                    display: block;
                }
            }
        }
    }
    &-col {
        .col-overlay {
            // background-color: greenyellow;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 2;
            left: 0;
            top: 0;
        }
        &:hover {
            .drop-here {
                &-left, &-right {
                    display: block;
                }
            }
        }
    }
    &-container{
        padding: 30px;

    padding-right: 70px;
    padding-left: 70px;

    }
}

.add-row {
    &-btn {
        position: absolute;
        width: 100%;
        left: 15px;
        bottom: 0px;
        z-index: 1;
        i {
            line-height: 25px;
            font-size: 12px;
        }
    }
    &-popup {
        
    }
    &-list {
        list-style: none;
    }
    &-type {
        button {
            
        }
    }
}

.empty-drop {
    &-area {
        border: 2px dashed #cccccc;
        i {
            color: #cccccc;
            line-height: 32px;
        }
    }
}

.property-close-btn {
    cursor: pointer;
    display: block;
}

.spin-button {
    display: flex;
    font-size: 12px;
    width: 80px;
    text-align: center;
    margin: 0 auto;
    input {
        flex: 0 0 40%;
        border-radius: 0px !important;
        border-width: 1px;
        border-left: 0px;
        border-right: 0px;
        text-align: center;
        padding: 0px;
        height: 30px;
        width: 30px;
    }
    .spin-di, .spin-in {
        padding: 0px;
        flex: 0 0 30%;
        height: 30px;
        border: 1px solid #ccc;
        line-height: 0px;
    }
    .spin-di {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .spin-in {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}
.overflow-auto{
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
.form-element-bar{
    position: fixed;
    
    bottom: 0;
    // position: static; 
    height: calc(100vh - 100px);
    top: 50px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 31px 41px 0 rgba(32,42,53,.2), 0 2px 16px 0 rgba(32,42,54,.08);
    overflow: auto;
    max-width: 310px;

}
.form-builder-canvas{
    position: fixed;
    left: 360px;
    right: 0px;
    width: auto;
    /* height: calc(100vh - 100px); */
    bottom: 0px;
    top: 35px;
    // display: flex;
    // align-items: center;
    overflow-y: auto;

}
.form-outr-property-bar{
    position: fixed;
    bottom: 0;
    /* height: calc(100vh - 100px); */
    top: 0px;
    background-color: #fff;
    // border-radius: 6px;
    /* box-shadow: 0 31px 41px 0 rgba(32, 42, 53, 0.2), 0 2px 16px 0 rgba(32, 42, 54, 0.08); */
    overflow: auto;
    width: 370px;
    left: 0px;
}
//For Boostrap
.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.input-group .form-control:not(:first-child) {
    padding: 8px 12px;
}
.canvas-container .form-control, .popup-editor-element-wrapper .form-control {
    border-radius: 0;
}