.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-links {
    display: flex;
    align-items: center;
    .logo {
      height: 40px;
      // background: rgba(0, 0, 0, 0.3);
      margin-right: 16px;
      img {
        height: 40px;
      }
    }
    .title {
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;
      margin-left: 25px;
      line-height: 24px;
      i {
        font-size: 24px;
        line-height: 24px;
        vertical-align: top;
      }
      a {
        color: #666666;
      }
    }
  }
  .header-actions {
    display: flex;
    margin-left: auto;
    // flex-basis: 400px;
    flex-basis: 280px;
    .header-actions-devices {
      border-right: 1px solid #ccc;
      display: flex;
      .button.header-button {
        text-align: center;
        margin-right: 8px;
        margin-left: 0;
        min-width: 20px;
        padding: 0 2px;
        color: #cccccc;
        &.active, &:hover {
          color: #666666;
        }
        i {
          margin: 0px;
        }
      }
    }
  }
  .header-button {
    height: 40px;
    padding: 0 8px;
    min-width: 108px;
    &.button-icon-only {
      min-width: 40px;
      &:hover, &:focus {
        background: transparent;
      }
    }
    &.preview {
      background-color: #f1f1f1;
      border-color: #e9e9e9;
      text-transform: uppercase;
      line-height: 40px;
      font-weight: 500;
      color: #333333;
      i {
        display: inline-block;
        width: 20px;
      }
    }
    margin-left: 8px;
    i {
      vertical-align: middle;
      margin-right: 4px;
    }
    &.help-icon {
      min-width: initial;
      margin-left: 0px;
      padding: 8px;
      i {
        height: 24px;
        display: block;
        width: 24px;
      }
    }
  }
  .button {
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 500;
    line-break: 40px;
    &-icon-only {
      &:disabled {
        opacity: 0.2;
        cursor: not-allowed;
        background: transparent !important;
      }
      .pro-icons {
        display: block;
        height: 26px;
      }
    }
    &-outline {
      background-color: #f1f1f1;
      border-color: #e9e9e9;
      .pro-icons {
        height: 30px;
        width: 15px;
        display: inline-block;
      }
    }
    &-primary {
      background-color: #4452d9;
    }
  }
}