// Reset  default styles
// body {
//     margin: 0;
//     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
//       "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
//       sans-serif;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     font-size: 14px;
//     color: #232323;
//   }
  
  * {
    box-sizing: border-box;
  }
  
//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6,
//   p {
//     padding: 0;
//     margin: 0;
//   }
  
.app-editor {
    input, button, select {
        font-size: inherit;
        font-family: inherit;
        display: block;
        max-width: 100%;
        // padding: 0 16px;
        // height: 44px;
        // border: 1px solid #ccc;
        // border-radius: 4px;
        background: #fff;
        .color-picker-popover & {
            padding: 0px;
        }
    }
    button[disabled], input[disabled] {
        background-color: #cccccc;
    }
    input {
        &[type="radio"], &[type="checkbox"] {
            height: auto;
            display: inline-block;
            width: auto;
        }    
    }
    .form {
        .form-container {
            input {
                &[type="radio"], &[type="checkbox"] {
                    margin-right: 10px;
                }
            }
        }
    }
    button  {
        cursor: pointer;
        &.btn-primary{
            background-color: #007bff;
        }
        &.cta.import {
            background: #FFBC5A;
            padding: 6px 8px;
            height: 34px;
        }
        &:focus,
        &:active {
          outline: none;
          background: #666666;
        }
        &:hover {
            background: #dddddd;
        }
        &.button-primary:disabled {
          background: #dddddd;
        }
        &.button-primary:disabled {
            cursor: no-drop;
        }
    }
    .cta.upload {
        padding: 0;
        height: 34px;
        border: none;
        background: #FFBC5A;
        color: transparent;
        &::-webkit-file-upload-button {
            visibility: hidden;
        }
        &::before {
            content: 'File Upload';
            text-align: center;
            display: inline-block;
            width: 100%;
            // border: 1px solid #999;
            // border-radius: 3px;
            color: #ffffff;
            padding: 6px 8px;
            outline: none;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            // text-shadow: 1px 1px #fff;
        }
    }
}

.rangeslider {
    &-wrapper {
        position: relative;
        width: 100%;
        height: 24px;
        display: flex;
        .rangeslider {
            &-slider {
                flex: 0 0 75%;
                width: 75%;
                padding: 10px 5px 0 0;
            }
            &-value {
                flex: 0 0 25%;
                width: 25%;
                input {
                    height: 24px;
                    padding: 0px;
                    max-width: 100%;
                    text-align: center;
                    &::-webkit-inner-spin-button, 
                    &::-webkit-outer-spin-button { 
                        -webkit-appearance: none; 
                        margin: 0; 
                    }
                }
            }
        }
    }
    &-horizontal {
        height: 5px;
        border-radius: 10px;
        width: 100%;
        background: #ececec;
        .rangeslider {
            &__fill {
                height: 100%;
                background-color: #adadad;
                border-radius: 10px;
                top: 0;
            }
            &__handle {
                width: 10px;
                height: 10px;
                border-radius: 10px;
                top: 50%;
                transform: translate3d(-50%,-50%,0);
            }
            &__labels {
                position: relative;
            }
        }
    }
    .rangeslider {
        &__handle {
            background: #fff;
            border: 1px solid #ccc;
            cursor: pointer;
            display: inline-block;
            position: absolute;
            box-shadow: 0 1px 3px rgba(0,0,0,.4), 0 -1px 3px rgba(0,0,0,.4);
        }
    }
}

.two-column {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    width: 100%;
    > * {
        flex: 0 0 50%;
        width: 50%;
    }
    &.rangeslider-container {
        label {
            flex: 0 0 30%;
            + .rangeslider-wrapper {
                flex: 0 0 70%;
            }
        }
    }
}

.text-center {
    text-align: center;
}