.app-editor {
    header {
      padding: 10px 16px;
      background: #ffffff;
      border-bottom: 1px solid #ccc;
      // box-shadow: 0px 0px 10px 5px rgba(204, 204, 204, 0.5);
      position: fixed;
      top: 0;
      // z-index: 2;
      z-index: 0;
      &.email-header, &.pope-header, &.popup-editor-header {
        z-index: 1;
      }
    }
    // main {
    //   border-bottom: 1px solid #ccc;
    // }
    footer {
      text-align: center;
      padding: 16px;
      font-size: 14px;
    }
    .app-content {
      position: fixed;
      height: calc(100% - 61px);
      scroll-behavior: smooth;
      width: 100%;
      top: 61px;
      // overflow-y: scroll;
      // overflow-x: hidden;
      .builder {
        // height: 100%;
        .builder-main {
          height: 100%;
          overflow-y: auto;
          overflow-x: hidden;
          position: relative;
          // background-image: url(./../../../images/editor-bg.svg);
          background-size: 40px;
          .customizer {
            overflow-y: scroll;
          }
          .menubar {
            z-index: 1;
            width: 80px;
            position: sticky;
            top: 0;
            background: #ffffff;
            height: calc(100vh - 61px);
            border-right: 1px solid #cccccc;
            ul {
              padding: 15px 0;
              position: sticky;
              top: 0px;
              .menubar-item {
                list-style-type: none;
                margin-bottom: 8px;
                .menubar-button {
                  border: none;
                  height: 50px;
                  background: none;
                  width: 100%;
                  padding: 0 16px;
                  &:hover {
                    background: #f3f3f3;
                    border-radius: 0px;
                  }
                  span {
                    display: block;
                    text-transform: uppercase;
                    font-size: 10px;
                  }
                  i {
                    margin-bottom: 4px;
                    display: block;
                    // height: 35px;
                  }
                }
              }
            }
          }
          .menubar-details {
            top: 0px;
            position: sticky;
            height: calc(100vh - 61px);
            // Old
            // top: 61px;
            // position: fixed;
            // height: calc(100% - 61px);
            left: 80px;
            z-index: 1;
            width: 300px;
            background: #fff;
            border-right: 1px solid #cccccc;
          }
        }
      }
    }
    .popup-editor-header + .app-content {
      z-index: 1;
    }
    .rangeslider {
        margin: 0;
    }
}

.popup-tab {
  width: 790px;
  height: 60vh;
  .modal-body & {
    margin: -10px;
  }
  .popup-tab-head {
    ul.popup-tab-buttons {
      margin: 0px;
      display: flex;
      list-style-type: none;
      border-bottom: 1px solid #cccccc;
      li.popup-tab-button {
        flex-basis: 100%;
        text-align: center;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        background: #cccccc;
        &.active {
          background: #4452d9;
          color: #ffffff;
        }
        &:hover {
          background: #ffffff;
          color: #cccccc;
        }
        &:not(:last-child) {
          border-right: 1px solid #cccccc;
        }
      }
    }
  }
  .popup-tab-content {
    height: calc(100% - 46px);
    .popup-tab-type {
      height: 100%;
      padding: 5px;
      .upload-wrapper {
        color: #8997a0;
        background: #ffffff;
        border: 5px dashed #8997a0;
        border-width: 5px 5px 5px 5px;
        display: inline-block;
        width: 100%;
        height: 100%;
        color: #ffffff;
        border-radius: 5px;
        background: url("./images/file-upload.png") center no-repeat;
        // background-size: contain;
        background-size: auto 150px;
      }
      .upload {
        opacity: 0;
        width: 100%;
        height: 100%;
        outline: none;
        cursor: pointer;
        position: static;
        &::-webkit-file-upload-button {
          // visibility: hidden;
          display: none;
        }
      }
      .popup-loader {
        text-align: center;
        height: 100%;
        padding: calc(15% - 15px);
      }
    }
  }
}

.image-viewer {
  background: #000000;
  // height: 100px;
  text-align: center;
  img {
    max-width: 100%;
    // max-height: 100%;
  }
}