.pro {
    &-icons {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        font-size: 0px;
        &.layout {
            background-image: url('./images/layout.svg');
        }
        &.socket {
            background-image: url('./images/socket.svg');
        }
        &.writing {
            background-image: url('./images/writing.svg')
        }
        &.tract {
            background-image: url('./images/track.svg');
        }
        &.title {
            background-image: url('./images/title.svg');
        }
        &.picture {
            background-image: url('./images/picture.svg');
        }
        &.paragraph {
            background-image: url('./images/paragraph.svg');
        }
        &.form {
            background-image: url('./images/form.svg');
        }
        &.undo {
            background-image: url('./images/undo.svg');
            transform: rotate(-100deg);
        }
        &.redo {
            background-image: url('./images/undo.svg');
            transform: rotate(100deg) scaleX(-1);
        }
        &.lifebuoy {
            background-image: url('./images/lifebuoy.svg');
            transform: rotate(45deg);
        }
        &.eye {
            background-image: url('./images/eye.svg');
        }
    }
}