.email-right-properties-bar,
.email-right-menu {
    color: #8f9699;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 60px;
    width: 450px;
    z-index: 998;
    background: #ffffff;
    border-left: 1px solid #c7c7c7;
}

.email-right-properties-bar {
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 2px;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
}