.preview {
  .container {
    max-width: 100%;
  }
  iframe::-webkit-scrollbar {
    width: 0px;
  }
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
}
.preview-wrapper {
  .preview-iframe {
    height: calc(100vh - 50px);
    > iframe {
      background-color: #888;
      &::-webkit-scrollbar {
        width: 2px;
      }
      &::-webkit-scrollbar-thumb {
        background: #888;
      }
    }
  }
  .preview-header {
    // display: flex;
    // justify-content: space-between;
    padding: 14px 15px;
    display: inline-block;
    width: 100%;
    height: 50px;
  }
  .export-button {
    width: 220px;
  }
  * {
    line-height: 22px;
    vertical-align: middle;
  }
  .back-link {
    display: inline-block;
    color: #333333;
    cursor: pointer;
  }
  .preview-toggle-menu {
    // bottom: 10px;
    // padding: 15px;
    // position: fixed;
    // color: #ffffff;
    // border-radius: 40px;
    // background: #fcbc5a;
    // box-shadow: 0px 0px 10px -2px #cccccc;
    float: right;
    .preview-toggle-button {
      &:hover, &.active {
        .material-icons {
          color: slategrey;
        }   
      }
    }
    i.material-icons {
      font-size: 24px;
      padding: 0 5px;
    }
  }
}

.pb-row {
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  .pb-column {
    // display: flex;
    // flex-direction: column;
    // flex-basis: 100%;
    // flex: 1;
    padding: 0 5px;
    background-size: cover;
    background-position: center;
    .pb-wrapper {
      display: flex;
      .element {
        flex-grow: 1;
        flex-basis: 100%;
        h1 {
          margin: 0;
          font-size: inherit;
          font-family: inherit;
          line-height: inherit;
          font-weight: inherit;
        }
        p {
          margin-top: 0;
          margin-bottom: 0;
        }
        form.form {
          > .form-container {
            // display: block;
            display: flex;
            flex-wrap: wrap;
            > .field-group {
              // flex-grow: 1;
              // padding: 0px 15px;
              margin-bottom: 25px;
              -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
              break-inside: avoid-column;
              display: table;
              width: 100%;
              ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: grey;
                font-size:13px;
                opacity: 1; /* Firefox */
               }
               
               :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: grey;
                font-size:13px;
               }
               
               ::-ms-input-placeholder { /* Microsoft Edge */
               color: grey;
               font-size:13px;
               }
              > label {
                width: 100%;
                // text-align: right;
              }
              > input,
              > select {
                width: 100%;
                height: auto;
                padding: 12px 15px;
                line-height: inherit;
                display: inline-block;
                // border-radius: 0 !important;
                border: 1px solid #a9a9a9
              }
              .file-upload-group {
                border-color: #cccccc;
                background: #ffffff;
                border-style: dashed;
                position: relative;
                text-align: center;
                border-radius: 5px;
                border-width: 2px;
                .file-upload {
                  position: static;
                  display: block;
                  font-size: 0;
                  height: 100px;
                  width: 100%;
                }
                .file-upload-fake {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  padding: 25px;
                  span {
                    display: block;
                  }
                }
              }
            }
          }
          > .form-footer {
            width: 100%;
            // padding: 0 15px;
            margin-top: 5px;
            text-align: center;
            .form-submit {
              width: 100%;
              padding: 10px 35px;
              border-width: 0px;
              line-height: 27px;
              color: rgb(255, 255, 255);
              background: rgb(68, 82, 217);
              &:hover,
              &:active {
                background: rgba(68, 82, 217, 0.7);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 586px) {
  .container {
    padding: 0;
  }
  .preview {
    .container {
      padding: 0 15px;
    }
  }
  .pb-section:not(.show-mobile) {
    display: none;
  }
  .pb-row {
    // flex-direction: column !important;
    display: block !important;
    .pb-column .pb-wrapper {
      display: block;
      .element {
        form.form > .form-container {
          display: block;
          column-count: 1 !important;
          > .field-group {
            width: 100% !important;
          }
        }
      }
    }
  }
}

// Sticky Bar Style
.preview .sticky-bar {
  line-height: 20px;
  text-align: center;
  position: sticky;
  z-index: 999;
  &.top {
    top: 0;
  }
  &.bottom {
    bottom: 0;
  }
  .container > div {
    padding: 15px;
    > * {
      vertical-align: top;
    }
    span {
        padding: 5px 15px;
        vertical-align: top;
        display: inline-block;
    }
    .input {
        padding: 5px;
        width: 200px;
        height: 30px;
        border: none;
        text-align: left;
        overflow: hidden;
        background: white;
    }
    .button {
        width: 100px;
        height: 30px;
        border: none;
        overflow: hidden;
        margin-left: 25px;
    }
    .link {
        margin: 0;
        padding: 5px 0;
        margin-left: 25px;
        text-decoration: underline;
    }
  }
}
// #intercom-container {
//   display: none;
// }