.email-header {
    display: flex;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.7);
    &-left, &-right {
        flex-grow: 1;
    }
    &-left {
        display: flex;
        align-items: center;
        .logo {
            height: 40px;
            margin-right: 16px;
            img {
                height: 40px;
            }
        }
        .title {
            font-size: 18px;
            font-weight: 500;
            margin-left: 25px;
            line-height: 24px;
            a {
                color: black;
                display: inline-block;
                * {
                    vertical-align: bottom;
                }
            }
        }
    }
    &-center {
        .email-header-name {
            line-height: 34px;
            font-size: 24px;
        }
    }
}