// Google Font
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Roboto|Tajawal|Ubuntu|Catamaran|Comfortaa|Dancing+Script|Darker+Grotesque|Handlee|Josefin+Slab|Maven+Pro|Montserrat+Alternates|Orbitron|Oxygen|Pacifico|Poiret+One|Raleway|Roboto+Mono|Sacramento|Tangerine|Nunito+Sans|Noto+Serif|Lato|Roboto+Slab|Source+Sans+Pro|Roboto+Condensed|Oswald|Anton|Noto+Sans|Noto+Sans+JP&display=swap');

.canvas {
  z-index: 1;
  position: sticky;
  padding: 100px 25px;
  width: calc(100% - 80px);
  height: calc(100vh - 61px);
  // background-color: #fff;

  // Old
  // right: 0;
  // z-index: 1;
  // flex-grow: 1;
  // position: fixed;
  // overflow-y: auto;
  // overflow-x: hidden;
  // padding: 100px 25px;
  // scroll-behavior: smooth;
  // width: calc(100% - 80px);
  // height: calc(100vh - 61px);
  // // background-color: #282828;
  // background-color: #fff;
  // border-left: 1px solid #ccc;
  &::-webkit-scrollbar {
    width: 0px;
  }
  &.active, &.menu-active {
    width: calc(100% - 380px);
    // &:after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: rgba(0, 0, 0, 0.4);
    // }
    .overlay {
      // position: fixed;
      // top: 61px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100vh - 61px);
      background: rgba(0, 0, 0, 0.4);
      z-index: 1;
    }
    .column {
      .element-container {
        .element {
          &.active {
            z-index: 1;
            // margin: -2px;
            // position: relative;
            // border: 2px dotted;
            // background: #ffffff;
            // color: #000000 !important;
            * {
              // color: #000000 !important;
            }
          }
          .element-drag-handler,
          .element-edit-handler,
          .element-delete-handler,
          .element-copy-handler {
            visibility: hidden;
          }
          &.active {
          // .active-editable {
            border: 1px dashed #666666;
            margin: -1px;
            .text-editor-overlay {
              left: 0;
              top: 0px;
              z-index: 2;
              width: 100%;
              height: 100%;
              position: absolute;
              background: transparent;
              // display: none;
            }
          }
          .element {
            max-width: 100%;
          }
        }
      }
    }
  }
  .layer-item {
    padding: 8px;
    border: 1px dashed transparent;
    &:hover {
      border-color: #ccc;
    }
  }
  h1 {
    font-size: inherit;
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    font-weight: inherit;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.main-container{
  box-shadow: 0px 0px 10px 0px #00000045;

}
.builder {
  &.drag-active {
    .section-hover {
      // min-height: 200px;
      .column:hover {
        // background: yellow;
        // background: #ffffff;
        // min-height: 200px;
      }
    }
    .row-wrapper:hover {
      position: relative;
      
    }
  }
}
.column {
  position: relative;
  width: 100%;
  // flex-grow: 1;
  // flex-basis: 20%;
  // &.is-dropping .element-container {
  //   transform: none !important;
  // }
  .column-left-handler,
  .column-right-handler {
    visibility: hidden;
    position: absolute;
    background: #4452d9;
    padding: 4px;
    color: #fff;
    z-index: 5;
  }
  .column-left-handler,
  .column-right-handler {
    top: calc(50% - 18px);
    opacity: 0.66;
  }
  .column-left-handler {
    left: 0px;
  }
  .column-right-handler {
    left: initial;
    right: 0px;
  }
  &:hover {
    // background: rgba(68, 82, 217, 0.12) !important;
    .column-left-handler,
    .column-right-handler {
      visibility: hidden;
    }
  }
  &.is-dropping {
    flex-grow: 1;
    min-height: 150px;
  }
}
.column-inner-layer.dragging {
  .element-container {
    > li, > div {
      &:last-child {
        display: none !important;
      }
    }
  }
}
.column-inner-layer {
  .drop-area {
    &.empty-column {
      color: gray;
      background: none;
      text-align: center;
      line-height: 100px;
      border-radius: 5px;
      font-family: "Roboto";
      border: 2px dashed gray;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 10px;
    }
  }
}
.element-container {
  border: 0px solid transparent;
  position: relative;
  display: flex;
  .canvas.active.menu-active & {
    position: static;
  }
  &.onDragging {
    background: #db3236;
  }
  > li, > div {
    display: none;
  }
  > div {
    &.element {
      display: block !important;
      word-break: break-word;
    }
  }
  &:hover {
    > div.drop-area {
      display: block !important;
    }
  }
  > .element {
    flex-grow: 1;
    flex-basis: 100%;
    // &:not(.dragging) {
    //   transform: none !important;
    // }
    &:not(.element-dragging) {
      transform: none !important;
      transition: none !important;
    }
    .element-drag-handler,
    .element-edit-handler,
    .element-delete-handler,
    .element-copy-handler {
      visibility: hidden;
      position: absolute;
      background: #4452d9;
      padding: 4px;
      color: #fff;
      width: 24px;
      height: 24px;
      z-index: 2;
      top: -26px;
      .material-icons {
        font-size: 16px;
      }
    }
    .element-drag-handler.drag-handler-show {
      left: calc(50% - 12px);
    }
    .element-drag-handler:not(.drag-handler-show) {
      //Old
      // left: calc(50% - 25px);
      // line-height: 0;
      // background: #4885ed;
      //New
      left: 0;
      top: 0;
      background: transparent;
      width: 100%;
      height: 100%;
      .material-icons {
        //New 
        display: none;
      }
    }
    .element-edit-handler {
      //Old
      cursor: pointer;
      // left: calc(50% - 53px);
      // line-height: 0;
      // background: #3cba54;
      //New
      // background-color: #2f323a;
      background-color: #4452d9;
      font-family: "Roboto";
      text-align: center;
      border-radius: 0px;
      line-height: 18px;
      color: #ffffff;
      width: 50px;
      right: 60px;
      top: 0;
      &:hover{
        background-color: #454952;
      }
      &::after{
        content: "Edit";
      }
      .material-icons {
        //New 
        display: none;
      }
    }
    .element-delete-handler {
      // Old
      cursor: pointer;
      // left: calc(50% + 2px);
      // line-height: 0;
      // background: #db3236;
      // New
      // background-color: #2f323a;
      background-color: #4452d9;
      text-align: center;
      border-radius: 0px;
      line-height: 18px;
      color: #ffffff;
      width: 30px;
      right: 30px;
      top: 0;
      &:hover{
        background-color: #454952;
      }
    }
    .element-copy-handler {
      // Old
      cursor: pointer;
      // left: calc(50% + 29px);
      // line-height: 0;
      // background: #f4c20d;
      // New
      // background-color: #2f323a;
      background-color: #4452d9;
      text-align: center;
      border-radius: 0px;
      line-height: 18px;
      color: #ffffff;
      width: 30px;
      right: 0px;
      top: 0;
      &:hover{
        background-color: #454952;
      }
    }
    &:hover {
      .canvas:not(.active) & {
        .builder:not(.drag-active) & {
          // border: 2px solid #4452d9;
          outline: 1px dashed #4452d9;
          // margin: -2px;
          position: relative;
          z-index: 1;
        }
      }
      .element-drag-handler,
      .element-edit-handler,
      .element-delete-handler,
      .element-copy-handler {
        .canvas:not(.active) & {
          .builder:not(.drag-active) & {
            visibility: visible;
          }
        }
      }
    } 
  }
}

.element {
  .video {
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  > .timer {
    display: flex;
    text-align: center;
    .time-part {
      flex-grow: 1;
      display: grid;
      flex-basis: 100%;
      label {
        font-weight: 400;
        vertical-align: top;
      }
    }
    .time-value {
      position: relative;
    }
    .timer-dot {
      position: absolute;
      right: 0;
    }
  }
}

.drop-area {
  width: 40px;
  min-height: 25px;
  min-width: 25px;
  &.left,
  &.right {
    visibility: hidden;
  }
  &.left,
  &.right,
  &.top,
  &.bottom {
    margin: 5px;
    background-color: #db3236;
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
    background-size: 40px 40px;
    color: transparent;
    display: none;
    &:hover {
      background-color: greenyellow;
      color: #000000;
    }
  }
  &.top,
  &.bottom {
    width: 100%;
    height: 30px;
    margin: 0;
    .column .column-inner-layer:hover & {
      display: block;
    }
  }
  &.left,
  &.right {
    .element-container:hover &, 
    .column .column-inner-layer:hover & {
      display: block;
    }
    .element-container:hover & {
      visibility: visible;
    }
  }
}

.section {
  position: relative;
  .canvas.active.menu-active & {
    position: static;
  }
  &.section-hover {
    z-index: 1;
    outline: 2px solid #4452d9;
  }
  &:hover {
    + .section-option {
      display: block;
    }
  }
  + .section-option:hover {
    display: block;
  }
  > .section-btn {
    font-family: sans-serif;
    background: #4452d9;
    position: absolute;
    padding: 3px 10px;
    color: #ffffff;
    cursor: pointer;
    display: none;
    height: 28px;
    top: -28px;
    left: 0px;
    z-index: 1;
    &.active {
      display: block;
    }
    &.delete {
      left: 68px;
      line-height: 0;
      .material-icons {
        font-size: 16px;
        line-height: 23px;
      }
    }
  }
  .row {
    // min-height: 50px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // position: relative;
    flex-direction: row;
    .phone & {
      display: block;
    }
    .column {
      display: inline-block;
      // flex-direction: column;
      // flex-basis: 100%;
      // flex: 1;
      background-size: cover;
      background-position: center;
      padding: 0 5px;
      position: relative;
      margin-right: 0 !important;
      margin-left: 0 !important;
      .column-btn {
        font-family: sans-serif;
        background: #4452d9;
        position: absolute;
        padding: 3px 10px;
        color: #ffffff;
        cursor: pointer;
        display: none;
        height: 28px;
        top: 0px;
        // top: -30px;
        left: 0px;
        z-index: 2;
        &.column-delete {
          left: 65px;
          line-height: 28px;
          i {
            font-size: 16px;
          }
        }
      }
      &.hover:hover {
        z-index: 1;
        outline: 2px solid #4452d9;
        .column-btn.active, .column-btn.column-delete.active {
          display: inline-block;
        }
      }
      .phone & {
        width: 100% !important;
      }
      .canvas.active.menu-active & {
        position: static;
      }
      .column-width-controler {
        position: absolute;
        top: 0;
        right: -1px;
        border-left: 1px dashed #cccccc;
        height: 100%;
        cursor: ew-resize;
        z-index: 1;
        visibility: hidden;
        .phone & {
          display: none;
        }
        .material-icons {
          background: #ffffff;
          border-radius: 60px;
          box-shadow: 0 0 3px 0px #000000;
        }
        &:hover {
          z-index: 2;
        }
        span {
          display: none;
          position: absolute;
          top: -25px;
          left: -10px;
          line-height: 19px;
          font-size: 12px;
          background: #000000;
          color: #ffffff;
          padding: 2px 2px 0px 2px;
          width: 20px;
          height: 20px;
          text-align: center;
        }
        &:hover, &:focus {
          span {
            display: inline-block;
          }
        }
      }
      .element-wrapper {
        position: relative;
        .canvas.active.menu-active & {
          position: static;
        }
        .row-move {
          z-index: 2;
          left: -15px;
          display: none;
          color: #ffffff;
          position: absolute;
          background: #4885ed;
          top: calc(50% - 13px);
          line-height: 10px;
        }
        &:hover {
          .row-move {
            .canvas:not(.active) & {
              .builder:not(.drag-active) & {
                display: inline-block;
              }
            }
          }
        }
        form.form {
          > .form-container {
            // display: block;
            display: flex;
            flex-wrap: wrap;
            > .field-group {
              // flex-grow: 1;
              // padding: 0px 15px;
              margin-bottom: 25px;
              -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
              break-inside: avoid-column;
              // display: table;
              width: 100%;
              ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: grey;
                font-size:13px;
                opacity: 1; /* Firefox */
               }
               
               :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: grey;
                font-size:13px;
               }
               
               ::-ms-input-placeholder { /* Microsoft Edge */
               color: grey;
               font-size:13px;
               }
              > label {
                  width: 100%;
                  // text-align: right;
              }
              > input {
                  width: 100%;
                  border-radius: 0 !important;
                  padding: 5px 10px;
              }
              > .sample-text-input {
                width: 100%;
                height: auto;
                border-radius: 0;
                padding: 12px 15px;
                background: #ffffff;
                box-shadow: unset;
                border: 1px solid #cccccc;
              }
              > .file-upload {
                border-color: #cccccc;
                background: #ffffff;
                border-style: dashed;
                border-radius: 5px;
                border-width: 2px;
                text-align: center;
                display: block;
                padding: 15px;
                span {
                  display: block;
                }
              }
            }
          }
          .form-footer {
            // padding: 0 15px;
            margin-top: 5px;
            text-align: center;
            .form-submit {
              width: 100%;
              padding: 10px 35px;
              border-width: 0px;
              line-height: 27px;
              display: inline-block;
              color: rgb(255, 255, 255);
              background: rgb(68, 82, 217);
              &:hover, &:active {
                  background: rgba(68, 82, 217, 0.7);
              }
            }
          }
        }
      }
    }
    &:hover {
      .column {
        .column-width-controler {
          visibility: visible;
        }
      }
    }
  }
}

.section-hover {
  .column {
    // min-height: 120px;
    // .element-container{
    //   transform: none !important;
    // }
    &.is-dropping {
      // min-height: 200px;
      // max-height: 200px; // after adding check
      // overflow-y: auto;
      .element-container {
        // transform: none !important;
        // z-index: 2;
        .element {
          background: #ffa500;
          // min-height: 120px; // after adding check
        }
      }
    }
  }
}

// .builder {
//   &.drag-active {
//     .section-hover {
//       .row{
//         max-height: 200px;
//         overflow: hidden;
//       }
//     }
//   }
// }


// Sticky Bar style
.sticky-bar-wrapper {
  top: 0;
  z-index: 9;
  padding: 15px;
  display: flex;
  position: sticky;
  background-color: #f1f1f1;
  border-bottom: 1px solid #cccccc;
}
.sticky-bar {
  line-height: 20px;
  text-align: center;
  .container > div {
    padding: 15px;
    // display: flex;
    span {
      padding: 5px 15px;
      vertical-align: top;
      display: inline-block;
      &:not(:first-child) {
        margin-left: 25px;
      }
      &:active, &:focus {
        border: 1px dashed rgba(0, 0, 0, 0.5);
        &:first-child {
          margin: -1px;
        }
        &:not(:first-child) {
          margin: -1px -1px -1px 25px;
        }
      }
      &.input {
        padding: 5px;
        width: 200px;
        height: 30px;
        text-align: left;
        overflow: hidden;
        background: white;
      }
      &.button {
        width: 100px;
        height: 30px;
        overflow: hidden;
      }
      &.link {
        margin: 0;
        text-decoration: underline;
        padding: 5px 0;
      }
      &.input, &.button {
        &:active, &:focus {
          height: 32px;
        }
      }
    }
  }
}

// Pricing Table Styles
.app-editor, .preview {
  .pricing-table {
    text-align: center;
    flex-direction: column;
    * {
      text-align: inherit;
      text-transform: inherit;
    }
    &.active {
      z-index: 9;
      position: relative;
    }
    .active-editable {
      outline: 1px dashed #666666;
    }
    .pricing-header {
      padding: 15px;
      .pricing-label {
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        margin-bottom: 5px !important;
      }
      .pricing-figure {
        position: relative;
        .pricing-currency {
          top: 10px;
          font-size: 20px;
          font-weight: 400;
          line-height: 20px;
          position: absolute;
          display: inline-block;
        }
        .pricing-amount {
          font-size: 64px;
          line-height: 64px;
          padding: 0 0 0 20px;
          display: inline-block;
        }
      }
      .pricing-foreword {
        font-size: 14px;
        line-height: 14px;
        margin-top: 5px !important;
      }
    }
    .pricing-list {
      background-color: #ffffff;
      ul {
        margin: 0;
        list-style: none;
        li {
          border-bottom: 1px dashed #cccccc;
          padding: 15px;
          font-size: 16px;
          line-height: 16px;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

.card-form {
  .card-form-field-group {
    display: inline-block;
    padding: 0 15px 15px 15px;
    width: 100%;
    .card-form-field {
    }
  }
  label {

  }
  input, select {
    width: 100%;
    padding: 5px;
    height: 34px;
  }
  .card-form-fields {
    display: flex;
    .card-form-field-group-left {
      display: flex;
      .card-form-field {
        width: 100%;
      }
    }
    .card-form-field-group-left,
    .card-form-field-group-right {
      width: 50%;
      float: left;
      padding: 0 15px 15px 15px;
    }
  }
}

.address-form {
  .address-form-field-group {
    display: flex;
    .address-form-field {
      width: 100%;
      padding: 0 15px 15px 15px;
      input {
        border: 1px solid #d9d9d9;
        box-shadow: none;
        padding: 5px;
        width: 100%;
      }
    }
  }
}

.product-list {
  padding: 15px;
  .product-list-table {
    padding: 15px;
    width: 100%;
    thead {
      th {
        border-bottom: 1px solid #d9d9d9;
        &:last-child {
          text-align: right;
        }
      }
    }
    tbody {
      tr {
        &:not(:last-child) {
          td {
            border-bottom: 1px solid #d9d9d9;
          }
        }
        td {
          padding: 15px 0;
          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }
}

.ecommerce-module {
  .product-list, .card-form {
    border-bottom: 1px dashed #d9d9d9;
  }
  label {
    font-weight: 500;
  }
  > label {
    font-size: 18px;
    font-weight: bold;
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}
.text-editor-color-picker-icon{
  position: relative;
}
.text-editor-color-picker-icon i {
  position: absolute;
  top: 10px;
  left: 2px;
}
.rc-icon-widget{
display: inline-block;
  // i{
  //   font-size: 30px;
  // }
}
.icon-change{
  display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    i{
      font-size: 34px;
    }
    p{
      margin: 0;
    }
}
.icon-popup-wrap{
  max-width: 768px;
  display: flex;
    flex-wrap: wrap;
  .icon-popup-inner{
    cursor: pointer;
    padding: 15px 20px 15px 20px;


    i{ 
    font-size: 20px;
    // padding: 20px;
   
  }
  &:hover{
    color: red;
    background: #ccc;
  }
}
}