.popup-editor-menubar-tabs {
    height: 100%;
    .popup-editor-menubar-list {
        margin: 0;
        // width: 70px;
        // height: 100%;
        // float: right;
        // display: flex;
        list-style: none;
        // flex-direction: column;
        background: #fff;
        text-align: center;
        width: fit-content;
    margin: 25px auto 10px;
    border: 1px solid #958ff9;
    border-radius:3px ;
    padding: 2px;


        .popup-editor-menubar-item {
            padding: 6px 25px;
            cursor: pointer;
            text-align: center;
            background: #fff;
            display: inline-block;
            border-radius: 3px;


            // border-bottom: 1px solid #c7c7c7;
            &:not(:last-child) {
                // border-right: 1px solid #c7c7c7;
            }
            &.react-tabs__tab--selected {
                // background: #f9f9f9;
                // border-bottom: 1px solid transparent;
                background: #958ef9;
                color: white;
                border-radius: 3px;

            }
            span {
                font-size: 14px;
                font-weight: 500;
            }
            * {
                vertical-align: top;
                line-height: 24px;
            }
        }
    }
    .popup-editor-menubar-content {
        // background: #f9f9f9;
        float: left;
        height: calc(100% - 77px);
        overflow-y: auto;
        overflow-x: hidden;
        background: #ffffff;
        width: calc(100%);
        // box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
        &::-webkit-scrollbar {
            width: 2px;
        }
        &::-webkit-scrollbar-thumb {
            background: #888;
        }
        &:not(.react-tabs__tab-panel--selected) {
            display: none;
        }
        .widget-list, .row-list, .column-list {
            margin: 0;
            width: 100%;
            padding: 10px;
            list-style: none;
            display: inline-block;
            .widget, .row-type {
                float: left;
                padding: 10px;
                width: 33.33%;
                .widget-button, .row-button {
                    padding: 15px;
                    text-align: center;
                    border-radius: 5px;
                    background: #ffffff;
                    border: 1px solid #c7c7c7;
                    

                      // ////
                    //   display: block;
                      border-right: solid 1px #ccc;
                      padding: 15px;
                      background-color: #f6f6f6;
                      cursor: move;
                      border: solid 1px #ccc;
                      border-radius: 3px;
                      transition: all .4s;
                      margin: 5px;
                      box-shadow: 0px 0px 1px #fff;
                    //   width: 100px;
                      text-decoration: none;
                      color: #222;
                      // ////
                }
                .widget-button {
                    cursor: grab;
                    &:hover {
                        border-color: transparent;    
                        box-shadow: 0px 0px 20px #c7c7c7;
                    }
                    &:focus {
                        cursor: grabbing;
                    }
                    span {
                        font-size: 12px;
                        display: block;
                        margin-top: 5px;
                        text-transform: uppercase;
                    }
                }
                .row-button {
                    cursor: pointer;
                    
                }
                .material-icons {
                    font-size: 44px;
                    display: block;
                }
            }
            .widget {
                &:not(.is-dragging) {
                    transform: none !important;
                }
                &.is-dragging {
                    visibility: hidden;
                    .widget-button {
                        padding: 0px;
                        width: 30px;
                        height: 30px;
                        .material-icons {
                            font-size: 16px;
                            line-height: 30px;
                        }
                        span {
                            font-size: 0;
                        }
                    }
                }
            }
            .row-type {
                width: 100%;
            }
        }
        .row-list {
            // display: flex;
            .row-type {
                position: relative;
                padding: 0px 10px 8px;

                .row-type-selected {
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    background-color: #fcbc5a;
                    color: #ffffff;
                    padding: 5px;
                    border-radius: 15px;
                    i {
                        font-size: 12px;
                        font-weight: bold;
                    }
                }
                .row-button {
                    display: flex;
                    padding: 2px;
                    &.active {
                        pointer-events: none;
                        cursor: default;
                    }
                    &:hover {
                        box-shadow: 0 0 0 2px #00ff00;
                    }
                    > div {
                        padding: 5px;
                    }
                    span {
                        display: block;
                        border: 1px solid #cccccc;
                        background-color: #eeeeee;
                        padding: 15px;
                        // &:last-child {
                        //     border-left: 0;
                        // }
                    }
                }
                &:not(.is-dragging) {
                    transform: none !important;
                }
                &.is-dragging {
                    opacity: 0.7;
                    // width: 150px !important;
                }
            }
        }
        .settings-header {
            line-height: 34px;
            font-weight: bold;
            display: none;
            padding: 0 10px;
            border-bottom: 1px solid #cccccc;
            background: #ffffff;
            position: sticky;
            height: 35px;
            top: 1px;
        }
        .settings-container {
            margin: 0;
            list-style: none;
            .setting-category {
                .setting-group-fields {
                    padding: 15px 30px;
                }
                &:not(:last-child) {
                    border-bottom: 0px solid #c7c7c7;
                }
                .setting-property {
                    margin-bottom: 15px;
                    label {
                        margin: 0;
                        font-weight: 400;
                    }
                    input {
                        &[type = "number"], &[type = "text"] {
                            width: 100%;
                            height: 34px;
                            padding: 5px;
                        }
                    }
                    .spin-button {
                        input {
                            &[type = "number"] {
                                width: 30px;
                                height: 30px;
                                padding: 0;

                            }
                        }
                    }
                    .upload-button {
                        width: 100%;
                    }
                    &.two-col {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin: 0;
                        &:not(:last-child) {
                            border-bottom: 0px solid #e1e4e7;
                            padding-bottom: 15px;
                            margin-bottom: 15px;
                        }
                    }
                    .image-upload-button {
                        margin-top: 3px;
                        border: 2px dashed #CCC;
                        cursor: pointer;
                        padding: 15px;
                        text-align: center;
                        color: #999;
                        &:hover {
                            border-color: #999;
                            color: #777777;
                        }
                    }
                }
                &.background-properties {
                    .two-column {
                        margin: 0;
                        .setting-property {
                            margin: 0;
                            .upload-option {
                                display: inline-block;
                                margin-right: 10px;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .setting-group-name {
                    font-weight: 600;
                    font-size: 12px;
                    color: #516167;
                    background-color: #eaeaea;
                    // cursor: pointer;
                    display: none;
                    text-transform: uppercase;
                    border-bottom: 0px;
                    padding: 0.75rem 1.25rem;
                    margin-bottom: 0;
                }
            }
        }
        .popup-editor-menubar-wrapper {
            padding: 15px;
        }
        .popup-editor-menubar-properties {
            padding: 15px;
            position: relative;
            border-radius: 5px;
            margin-bottom: 15px;
            border:1px solid #cccccc;
            background-color: #ffffff;
            > label {
                top: -10px;
                padding: 0 5px;
                position: absolute;
                background: linear-gradient(0deg, #ffffff calc(50% + 2px), rgba(0, 0, 0, 0) 30%), transparent;
            }
            .popup-editor-menubar-property {
                &.two-column {
                    .popup-editor-menubar-rangeslider {
                        padding: 8px 5px;
                    }
                }
                label {
                    font-size: 12px;
                    font-weight: 400;
                }
                .chrome-picker {
                    box-shadow: none !important;
                    width: 100% !important;
                }
            }
        }
    }
}