.app-editor .spin {
    &-button {
        display: flex;
        font-size: 12px;
        width: 80px;
        text-align: center;
        margin: 0 auto;
        .two-column & {
            margin: initial;
            float: right;
        }
        input {
            flex: 0 0 40%;
            border-radius: 0px !important;
            border-left: 0px;
            border-right: 0px;
            text-align: center;
            padding: 0px;
            height: 30px;
            width: 30px;
            &::-webkit-inner-spin-button, 
            &::-webkit-outer-spin-button { 
                -webkit-appearance: none; 
                margin: 0; 
            }
            &:disabled {
                background-color: #f9f9f9;
            }
        }
    }
    &-di, &-in {
        padding: 0px;
        flex: 0 0 30%;
        height: 30px;
        border: 1px solid #ccc;
        line-height: 0px;
        &:disabled {
            cursor: not-allowed;
        }
    }
    &-di {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    &-in {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}