.toolbar {
  width: 100%;
  height: 100%;
  // display: flex;
  // flex-wrap: wrap;
  .toolbar-head {
    width: 100%;
    text-align: right;
  }
  .close-toolbar {
    width: 45px;
    border: none;
    display: inline-block;
    background: transparent;
    cursor: pointer;
    padding: 5px 10px;
    height: 35px;
  }
  .tracking {
    width: 100%;
    // padding: 0 15px;
    textarea {
      width: 100%;
      height: 80px;
      padding: 5px;
      border-radius: 0;
    }
  }
  .page-properties {
    width: 100%;
    .property-form {
      border: 0px;
      padding: 0px;
    }
  }
  .tracking,
  .page-properties,
  .layout-settings {
    height: calc(100% - 36px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-scrollbar-track {
      // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #000000;
    }
    h4 {
      top: 0;
      margin: 0;
      position: sticky;
      background: #ffffff;
      padding: 0px 15px 5px 15px;
      border-bottom: 1px solid rgb(204, 204, 204);
    }
  }
}
.toolbar-list {
  max-width: 100%;
  list-style-type: none;
  overflow-y: auto;
  height: calc(100% - 36px);
  &::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
  }
  > ul {
    margin: 0;
    padding: 0 15px;
  }
  .toolbar-list-label {
    padding: 5px 15px;
    background-color: grey;
    width: 100%;
    color: white;
  }
  .toolbar-item {
    width: 50%;
    padding: 8px;
    display: inline-block;
    &:not(.is-dragging) {
      transform: none !important;
      transition: none !important;
    }
    &.is-dragging {
      z-index: 5;
      width: 70px !important;
      height: 65px !important;
      .toolbar-button {
        font-size: 0px;
        border-color: #666666;
        background-color: rgba(255, 255, 255, 0.5);
        i.material-icons {
          // color: #ffffff;
        }
      }
    }
    button {
      width: 100%;
      font-size: 12px;
      border-radius: 4px;
    }
  }
}

.toolbar-button {
  height: auto;
  font-size: 10px;
  color: #999999;
  padding: 5px 8px;
  background: transparent;
  border: 1px solid #eeeeee;
  i {
    vertical-align: middle;
    font-size: 36px;
    width: 100%;
    color: #666666;
    &.pro-icons {
      display: block;
      height: 40px;
    }
  }
  &:hover {
    background: #f3f3f3;
    color: #232323;
    cursor: move;
  }
}

.toolbar-action {
  margin-left: auto;
  display: flex;
  .toolbar-button {
    cursor: pointer;
    width: 90px;
    &.preview {
      width: 110px;
      background: #ddd;
      color: #232323;
      margin-left: 16px;
    }
  }
}

.layout-settings {
  width: 100%;
  .layout-section-order {
    color: #b1bacc;
    padding: 0; 
    line-height: 16px;
    transition: opacity 0.2s ease;
    border-bottom: 1px solid rgba(177, 186, 204, 0.4);
    background: #ffffff;
    padding: 18px 10px;
    cursor: pointer;
    i.material-icons {
      width: 18px;
      font-size: 16px;
      vertical-align: bottom;
      &.right {
        // float: right;
      }
    }
    // &.dragging {
    //   border-bottom: 1px solid rgba(177,186,204,.4);
    // }
    &:last-child {
      border-bottom: 1px solid rgba(177, 186, 204, 0.4);
    }
    &:hover {
      color: #000000;
      // background: #b1bacc;
    }
    .editable {
      width: 100px;
      display: inline-block;
      overflow: hidden;
      height: 16px;
      vertical-align: bottom;
      white-space: nowrap;
      &:not(:active) {
        text-overflow: ellipsis;
      }
    }
    &:not(:hover) {
      i.material-icons.right {
        display: none;
      }
    }
    span.editable {
      width: 200px;
    }
    a {
      display: inline-block;
      color: #000000;
      vertical-align: bottom;
    }
  }
  .layout-row-order {
    color: #000000;
    transition: opacity 0.2s ease;
    background: #cccccc;
    // padding: 10px 15px 5px 15px;
    cursor: pointer;
    .layout-row {
      line-height: 16px;
      padding: 10px;
      background: #5b5b5b;
      &:hover {
        background: #e4e4e4;
      }
      .layout-row-name {
        padding: 5px 5px 5px 0;
        &:hover {
          background-color: #656565;
          color: #ffffff;
        }
      }
      > div {
        .material-icons.right {
          visibility: hidden;
        }
        &:hover,
        &:focus {
          .material-icons {
            visibility: visible;
          }
        }
      }
      ul {
        background-color: #eeeeee;
        padding-left: 0px;
        margin-bottom: 0;
        list-style: none;
      }
      &:not(:first-child) {
        // padding-top: 0;
        border-top: 1px solid #cccccc;
      }
      &:last-child {
        // margin-bottom: 10px;
        border-bottom: 0;
      }
      ul.layout-column {
        li {
          padding: 5px 5px 5px 20px;
          &:hover {
            background-color: #656565;
            color: #ffffff;
          }
          .material-icons {
            visibility: hidden;
          }
          &:hover,
          &:focus {
            .material-icons {
              visibility: visible;
            }
          }
        }
      }
      .layout-add-column-btn {
        background-color: #656565;
        color: #ffffff;
        padding: 5px;
      }
    }
    i.material-icons {
      width: 18px;
      font-size: 16px;
      vertical-align: bottom;
      &.right {
        float: right;
      }
    }
    .layout-add-row-btn i.material-icons {
      font-size: 22px;
      margin-right: 10px;
      vertical-align: middle;
    }
    .layout-add-row-btn {
      // background-color: #656565;
      background-color: #faaa44;
      color: #ffffff;
      padding: 5px;
    }
  }
  .add-section-btn {
    border-bottom: 1px solid #cccccc;
    padding: 15px;
    .edit-form-button {
      background: #4452d9;
      padding: 10px 15px;
      color: #ffffff;
      cursor: pointer;
      border: none;
      width: 100%;
    }
  }
}
//Customizer

.customizer {
  flex-basis: 240px;
  flex-shrink: 0;
  border-left: 1px solid #ccc;
  color: #656565;
  position: relative;
  .customizer-tabs {
    background: #ffffff;
    position: sticky;
    z-index: 1;
    top: 0px;
  }
  .tabs {
    list-style: none;
    display: flex;
    padding: 0px;
    margin-top: 0px;
    border-bottom: 1px solid #ccc;
    li:not(:last-child) {
      border-right: 1px solid #ccc;
    }
    button {
      border: none;
      border-radius: 0px;
    }
  }
}
.property-form {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  .property-form {
    padding: 0;
    border: none;
  }
  &-header {
    display: inline-block;
    width: 100%;
    h4 {
      float: left;
      width: calc(100% - 110px);
      &.full-width {
        width: 100%;
      }
    }
    .property-switch {
      float: left;
      width: 110px;
      margin-top: 10px;
    }
  }
  label {
    font-weight: 400;
    font-size: 14px;
  }
  .property-border {
    display: flex;
    margin-bottom: 15px;
    select {
      height: 22px;
      width: 30%;
      padding: 0px;
      line-height: 22px;
      margin-right: 10px;
    }
  }
  .property-align {
    margin-top: 15px;
    column-count: 3;
    button {
      width: 40px;
      padding: 0px;
      height: 35px;
      margin: 0 auto;
      padding-top: 5px;
      border-radius: 4px;
      border: 1px solid #ccc;
      .material-icons {
        font-size: 18px;
      }
      &.active,
      &:hover {
        background: #000000;
        color: #ffffff;
      }
    }
  }
  .property-font-style {
    label {
      width: 40px;
      padding: 0px;
      height: 35px;
      padding-top: 5px;
      border-radius: 4px;
      text-align: center;
      margin: 0 3px 0px 3px;
      border: 1px solid #ccc;
    }
    input[type="checkbox"] {
      display: none;
      &:checked {
        + label {
          background: #000000;
          color: #ffffff;
        }
      }
    }
    .style-action-button {
      width: 40px;
      padding: 0px;
      height: 35px;
      padding-top: 5px;
      border-radius: 4px;
      text-align: center;
      margin: 0 3px 0px 3px;
      display: inline-block;
      border: 1px solid #ccc;
      &:disabled {
        cursor: no-drop;
      }
    }
  }
  .two-column {
    .color-picker {
      &-swatch,
      &-none {
        float: right;
      }
    }
  }
  button.edit-form-button {
    background: #4452d9;
    color: #ffffff;
    padding: 10px 15px;
    width: 100%;
    border: none;
  }
}

.inline-field {
  label {
    .two-column & {
      width: 80px;
      margin: 0 auto;
      display: block;
    }
  }
}
.color-picker {
  &-swatch {
    padding: 2px;
    height: 22px;
    background: #525151;
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
    flex-basis: 40px;
  }
  &-color {
    width: 36px;
    height: 18px;
  }
  &-cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  &-popover {
    // position: fixed;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000000, 0.5);
    .popup-editor-right-menu &, .popup-editor-right-properties-bar &, .popup-editor-canvas &, .rdw-editor-toolbar & {
      position: fixed;
    }
    .color-picker-wrapper {
      position: absolute;
      background: #ffffff;
      top: calc(50% - 120px);
      left: calc(50% - 127px);
      box-shadow: none !important;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
      padding: 15px;
    }
    .chrome-picker {
      box-shadow: none !important;
    }
    .color-picker-button {
      float: right;
      background: #4452d9;
      border: none;
      padding: 5px 15px;
      color: #fff;
      text-transform: uppercase;
    }
  }
  &-none {
    height: 22px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 22px;
    display: inline-block;
  }
}

// Sticky Bar Styles
$rc-yellow: #fcbc5a;
$rc-button-l-gray: #f1f1f1;

%sticky-radio {
  padding: 5px;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  background-color: $rc-button-l-gray;
  input[type="radio"]:checked + & {
    cursor: default;
    background-color: $rc-yellow;
  }
}

.position-btn {
  > input[type="radio"] {
    display: none;
  }
  > label {
    width: 50%;
    @extend %sticky-radio;
  }
}
.sticky-bar-layouts {
  ul {
    list-style: none;
  }
  .sticky-bar-layout {
    > input[type="radio"] {
      display: none;
    }
    > label {
      display: block;
      @extend %sticky-radio;
    }
  }
}

.popup-menu-tabs {
  .popup-list {
    display: inline-block;
    list-style: none;
    width: 100%;
    margin: 0;
    .popup-tab-option {
      text-align: center;
      padding: 10px;
      float: left;
      width: 50%;
      cursor: pointer;
      background-color: #f1f1f1;
      &.react-tabs__tab--selected {
        cursor: default;
        background-color: #fcbc5a;
      }
    }
  }
  .popup-panel {
    .popup-option {
      padding: 0 15px;
      margin-bottom: 15px;
      .property-switch {
        > div {
          float: right;
        }
      }
      .property-select {
        select {
          padding: 5px;
          width: 100%;
          &:disabled {
            background: #eeeeee;
          }
        }
      }
      .property-time {
        display: flex;
        .property-min, .property-sec {
          width: 50%;
          label {
            font-weight: 400;
            margin: 0 10px 0 0;
          }
          input {
            display: inline-block;
            text-align: center;
            border-right: 0;
            height: 28px;
            width: 40px;
          }
          .property-time-up-down {
            border: 1px solid #d9d9d9;
            border-left: 0px;
            vertical-align: bottom;
            display: inline-block;
            width: 14px;
            span {
              line-height: 13px;
              cursor: pointer;
              display: block;
              height: 13px;
              &:hover {
                background-color: #d9d9d9;
              }
              .material-icons {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}
