.pope-canvas {
    left: 0;
    bottom: 0;
    top: 60px;
    right: 410px;
    position: fixed;
}

.pope-right-menu {
    color: #8f9699;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 60px;
    width: 450px;
    z-index: 998;
    border-left: 1px solid #c7c7c7;
}