.property-bar-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.property-bar {
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.7);
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
    height: 50px;
    left: 0;
    top: 60px;
    right: 450px;
    padding: 8px;
    text-align: center;
    .property-group, .property-select {
        height: 34px;
        display: inline-block;
        .property {
            display: inline-block;
            width: 34px;
            height: 34px;
            cursor: pointer;
            line-height: 34px;
            text-align: center;
            .material-icons {
                line-height: 34px;
            }
            &:hover {
                background: #eeeeee;
            }
            &.active {
                background: #eeeeee;
            }
        }
    }
    .property-group {
        &.color-picker, &.rangeslider {
            position: relative;
            background: none;
            box-shadow: none;
            &:hover {
                background: #eeeeee;
            }
            .color-picker-wrapper, .rangeslider-wrapper {
                position: absolute;
                z-index: 1;
            }
            .rangeslider-wrapper {
                width: 150px;
                line-height: 25px;
                background: #ffffff;
                padding: 0 0px 0 10px;
            }
            .property-border-popup {
                width: 150px;
                line-height: 25px;
                padding: 0px 20px 10px 10px;
                background: #ffffff;
                position: absolute;
                z-index: 1;
                .rangeslider-wrapper {
                    position: static;
                    width: 140px;
                    padding: 0;
                }
                .property-border-style {
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    > * {
                        display: inline-block;
                        vertical-align: bottom;
                    }
                    label {
                        font-weight: 400;
                        font-size: 12px;
                    }
                    > select {
                        width: 75px;
                        float: right;
                    }
                    > span {
                        width: 75px;
                        float: right;
                        height: 21px;
                        border: 1px solid #d9d9d9;
                    }
                }
            }
        }
        &.property-delete {
            position: relative;
            .delete-popup {
                position: absolute;
                z-index: 1;
                width: 100px;
                font-size: 12px;
                background: #fff;
                padding: 5px;
                label {
                    display: inline-block;
                    width: 100%;
                }
                .property-button {
                    display: inline-block;
                    padding: 0 5px;
                    border: 1px solid #cccccc;
                    font-size: 10px;
                    float: left;
                    &:last-child{
                        float: right;
                    }
                }
            }
        }
        .property-drop-down {
            z-index: 1;
            padding: 15px;
            position: absolute;
            background-color: #ffffff;
            input[type="text"] {
                font-size: 10px;
                width: 150px;
                padding: 5px;
            }
        }
    }
    .property-select {
        position: relative;
        .property-option {
            top: 34px;
            width: 34px;
            position: absolute;
            text-align: center;
            background: #ffffff;
            max-height: 130px;
            overflow: auto;
            &::-webkit-scrollbar {
                width: 2px;
            }
            &::-webkit-scrollbar-thumb {
                background: #888;
            }
            .option {
                cursor: pointer;
                &:hover, &.active {
                    background: #eeeeee;
                }
                .material-icons {
                    line-height: 34px;
                }
            }
            &.btn-size {
                width: 100px;
                .option {
                    line-height: 26px;
                }
            }
        }
    }
    .property-row {
        height: 34px;
        background-color: #ffffff;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        label {
            margin: 0;
            width: 80px;
            font-size: 12px;
            padding: 0px 5px;
            font-weight: 400;
            line-height: 34px;
            vertical-align: top;
        }
    }
}