.email-menubar-tabs {
    height: 100%;
    .email-menubar-list {
        margin: 0;
        width: 70px;
        height: 100%;
        float: right;
        display: flex;
        list-style: none;
        flex-direction: column;
        background: #d6d9dc;
        .email-menubar-item {
            padding: 10px;
            cursor: pointer;
            text-align: center;
            background: #d6d9dc;
            // border-bottom: 1px solid #c7c7c7;
            &:not(:last-child) {
                border-right: 1px solid #c7c7c7;
            }
            &.react-tabs__tab--selected {
                background: #f9f9f9;
                border-bottom: 1px solid transparent;
            }
            span {
                font-size: 10px;
            }
            * {
                vertical-align: top;
                line-height: 24px;
            }
        }
    }
    .email-menubar-content {
        overflow-y: auto;
        overflow-x: hidden;
        background: #f9f9f9;
        width: calc(100% - 70px);
        float: left;
        height: 100%;
        &::-webkit-scrollbar {
            width: 2px;
        }
        &::-webkit-scrollbar-thumb {
            background: #888;
        }
        &:not(.react-tabs__tab-panel--selected) {
            display: none;
        }
        .widget-list, .row-list, .column-list {
            margin: 0;
            width: 100%;
            padding: 10px;
            list-style: none;
            display: inline-block;
            .widget, .row-type {
                float: left;
                padding: 10px;
                width: 33.33%;
                .widget-button, .row-button {
                    padding: 15px;
                    text-align: center;
                    border-radius: 5px;
                    background: #ffffff;
                    border: 1px solid #c7c7c7;
                }
                .widget-button {
                    cursor: grab;
                    &:hover {
                        border-color: transparent;    
                        box-shadow: 0px 0px 20px #c7c7c7;
                    }
                    &:focus {
                        cursor: grabbing;
                    }
                    span {
                        font-size: 12px;
                        display: block;
                        margin-top: 5px;
                        text-transform: uppercase;
                    }
                }
                .row-button {
                    cursor: pointer;
                    
                }
                .material-icons {
                    font-size: 44px;
                    display: block;
                }
            }
            .widget {
                &:not(.is-dragging) {
                    transform: none !important;
                }
                &.is-dragging {
                    visibility: hidden;
                    .widget-button {
                        padding: 0px;
                        width: 30px;
                        height: 30px;
                        .material-icons {
                            font-size: 16px;
                            line-height: 30px;
                        }
                        span {
                            font-size: 0;
                        }
                    }
                }
            }
            .row-type {
                width: 100%;
            }
        }
        .row-list {
            // display: flex;
            .row-type {
                position: relative;
                .row-type-selected {
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    background-color: #fcbc5a;
                    color: #ffffff;
                    padding: 5px;
                    border-radius: 15px;
                    i {
                        font-size: 12px;
                        font-weight: bold;
                    }
                }
                .row-button {
                    display: flex;
                    padding: 2px;
                    &.active {
                        pointer-events: none;
                        cursor: default;
                    }
                    &:hover {
                        box-shadow: 0 0 0 2px #00ff00;
                    }
                    > div {
                        padding: 5px;
                    }
                    span {
                        display: block;
                        border: 1px solid #cccccc;
                        background-color: #eeeeee;
                        padding: 15px;
                        // &:last-child {
                        //     border-left: 0;
                        // }
                    }
                }
                &:not(.is-dragging) {
                    transform: none !important;
                }
                &.is-dragging {
                    opacity: 0.7;
                    // width: 150px !important;
                }
            }
        }
        .settings-container {
            margin: 0;
            list-style: none;
            .setting-category {
                padding: 15px;
                &:not(:last-child) {
                    border-bottom: 1px solid #c7c7c7;
                }
                .setting-property {
                    margin-bottom: 15px;
                    label {
                        margin: 0;
                        font-weight: 400;
                    }
                    input {
                        &[type = "number"], &[type = "text"] {
                            width: 100%;
                            height: 34px;
                            padding: 5px;
                        }
                    }
                    .upload-button {
                        width: 100%;
                    }
                }
                &.background-properties {
                    .two-column {
                        margin: 0;
                        .setting-property {
                            margin: 0;
                            .upload-option {
                                display: inline-block;
                                margin-right: 10px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .email-menubar-wrapper {
            padding: 15px;
        }
        .email-menubar-properties {
            padding: 15px;
            position: relative;
            border-radius: 5px;
            margin-bottom: 15px;
            border:1px solid #cccccc;
            background-color: #ffffff;
            > label {
                top: -10px;
                padding: 0 5px;
                position: absolute;
                background: linear-gradient(0deg, #ffffff calc(50% + 2px), rgba(0, 0, 0, 0) 30%), transparent;
            }
            .email-menubar-property {
                &.two-column {
                    .email-menubar-rangeslider {
                        padding: 8px 5px;
                    }
                }
                label {
                    font-size: 12px;
                    font-weight: 400;
                }
                .chrome-picker {
                    box-shadow: none !important;
                    width: 100% !important;
                }
            }
        }
    }
}