.button {
  background: #eee;
  color: #666;
  &.button-primary {
    background: #4099ff;
    color: #fff;
    border-color: transparent;
  }
  &.button-outline {
    color: #333;
    background: transparent;
    border: 1px solid #ccc;
  }
  &.button-icon-only {
    background: transparent;
    border: none;
  }
  &:hover {
    background: #ccc;
  }
}
