.colorlist {
    display: block;
    width: 240px;
    margin: 0 auto;
    column-count: 20;
    column-gap: 0px;
    li {
        float: left;
        display: inline-block;
        vertical-align: top;
        height: 12px;
        width: 12px;
        &:nth-child(11n + 1) {
            clear: left;
        }
        span {
            display: inline-block;
            width: 12px;
            height: 12px;
            vertical-align: top;
        }
    }
}